@import url("./reset.css");
html {
  height: 100%;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  font-size: .16rem;
  text-decoration: none;
  list-style-type: none;
}

img, a {
  display: block;
}

#main {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.web-page {
  width: 100%;
  color: #fff;
}

.inner {
  overflow: hidden;
  width: 100% !important;
  padding: 0 !important;
  position: relative;
}

.inner .title {
  padding-top: .8rem;
}

.web-banner {
  width: 100%;
  height: 7rem;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/duanwu/m_bn.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.web-banner h1,
.web-banner h2 {
  font-size: 20px;
  position: absolute;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.web-page.block1 {
  height: 11.62rem;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/duanwu/m_stage1.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.web-page.block1 .inner {
  height: 100%;
}

.web-page.block1 .title {
  height: 2.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: .55rem;
  text-align: center;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
  color: #316247;
}

.web-page.block1 .title span {
  color: #f0580d;
  font-weight: bold;
  letter-spacing: 4.5;
  margin: 0 .07rem;
}

.web-page.block1 .title .title-item:nth-child(1) {
  font-size: .47rem;
  margin-bottom: .35rem;
}

.web-page.block1 .title .title-item:nth-child(2) {
  font-size: .36rem;
}

.web-page.block1 .zongzi {
  width: 100%;
  height: calc(100% - 2.1rem);
  position: relative;
}

.web-page.block1 .zongzi ul {
  width: 100%;
  height: 100%;
  position: relative;
}

.web-page.block1 .zongzi ul li {
  width: 2.05rem;
  position: absolute;
  -webkit-animation: move 5s ease-in-out infinite;
          animation: move 5s ease-in-out infinite;
}

.web-page.block1 .zongzi ul li img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  35% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  70% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  35% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  70% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.web-page.block1 .zongzi ul li:nth-child(1) {
  top: 11%;
  left: 14%;
}

.web-page.block1 .zongzi ul li:nth-child(2) {
  top: 3.5%;
  left: 40%;
}

.web-page.block1 .zongzi ul li:nth-child(3) {
  top: 12%;
  left: 66%;
}

.web-page.block1 .zongzi ul li:nth-child(4) {
  top: 43%;
  left: 10%;
}

.web-page.block1 .zongzi ul li:nth-child(5) {
  top: 34%;
  left: 39%;
}

.web-page.block1 .zongzi ul li:nth-child(6) {
  top: 42%;
  left: 67%;
}

.web-page.block1 .zongzi .rule-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.6rem;
  width: 100%;
  text-align: center;
}

.web-page.block1 .zongzi .rule-button a {
  width: 2.9rem;
  height: 1rem;
  margin: 0 1%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}

.web-page.block1 .zongzi .rule-button a img {
  width: 100%;
  height: 100%;
}

.web-page.block1 .zongzi .rule-button a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: .32rem;
  color: #fff;
  white-space: nowrap;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

.web-page.block2 {
  width: 100%;
  padding-top: .93rem;
  padding-bottom: 1.42rem;
  background-color: #316247;
  color: #316247;
  font-size: .26rem;
}

.web-page.block2 .layout-box {
  position: relative;
  width: 6.86rem;
  height: 9.92rem;
  margin: 0 auto;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/duanwu/m_boderruru.png") no-repeat;
  background-size: 6.86rem 9.92rem;
  background-position: 50% 50%;
}

.web-page.block2 .rule-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding-top: 1.5rem;
  padding-left: .5rem;
  padding-right: .45rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
  font-weight: normal;
  letter-spacing: .03rem;
  line-height: 1.5;
}

.web-page.block2 .activity {
  margin-bottom: .27rem;
}

.web-page.block2 .activity .item:not(.no-flex) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.web-page.block2 .activity li:not(:last-child) {
  margin-bottom: .04rem;
}

.web-page.block2 .activity br {
  width: 100%;
  height: 0;
}

.web-page.block2 .notice {
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

.web-page.block2 .notice li.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.web-page.block2 .notice span {
  display: block;
}

.web-page.block2 .notice h2 {
  font-size: .29rem;
  margin-bottom: .13rem;
}

.web-page.block2 .notice li:not(:last-child) {
  margin-bottom: .03rem;
}

.popup-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-in-zongzi {
  color: #fff;
  font-size: 20px;
}

.box-in-zongzi .light-box {
  position: relative;
}

.box-in-zongzi .light-box img {
  width: 100%;
  height: auto;
}

.box-in-zongzi .light-box .content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.box-in-zongzi .light-box a[type="button"] {
  position: relative;
  cursor: pointer;
  width: 290px;
  height: 90px;
  margin: 0 auto;
  color: #FAB948;
}

.box-in-zongzi .light-box a[type="button"] img {
  width: 100%;
  height: 100%;
}

.box-in-zongzi .light-box a[type="button"] span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  white-space: nowrap;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

#lottery-box .content {
  padding-top: 228px;
}

#lottery-box .content > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

#lottery-box .content > ul li {
  margin: 0 25px;
  font-weight: bold;
  font-size: 29px;
  text-align: center;
}

#lottery-box .content > ul li > img {
  margin-bottom: 12px;
}

#award-box .content {
  padding-top: 130px;
  text-align: center;
  font-size: 35px;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

#award-box .content .award-list {
  margin-bottom: 46px;
}

#award-box .content .award-list span {
  font-weight: bold;
  letter-spacing: 6px;
}

#award-box .content p {
  margin-bottom: 37px;
}
/*# sourceMappingURL=duanwu.css.map */