@import url("reset.css");
@import url("template.css");
@import url("swiper.min.css");
html {
  height: 100%;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}

img, a {
  display: block;
}

html {
  font-size: 16px;
}

.title-item-structure, .web-page2 .title .title-item, .web-page3 .container .title .title-item, .web-page4 .title .title-item {
  text-align: center;
}

.title-item-structure span, .web-page2 .title .title-item span, .web-page3 .container .title .title-item span, .web-page4 .title .title-item span {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background-image: url("../images/gift_icon.png");
  background-size: cover;
  background-position: 50% 50%;
}

.title-item-structure h2, .web-page2 .title .title-item h2, .web-page3 .container .title .title-item h2, .web-page4 .title .title-item h2 {
  display: inline-block;
  font-size: .4rem;
  font-weight: bold;
  padding: 0 .3rem;
  color: #074b6b;
  margin-bottom: .45px;
}

.wrapper .container {
  width: 100% !important;
}

.web-page1 .container {
  height: 9.88rem;
  background: url("../images/M_toppic.png") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.web-page1 .container h1, .web-page1 .container h2 {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.web-page2 .title p {
  font-size: .24rem;
  color: #fe3838;
  text-align: center;
}

.web-page2 .conList .swiper-ticket ul.swiper-wrapper li.swiper-slide {
  width: 4.7rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: .3rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
}

.web-page2 .conList .swiper-ticket ul.swiper-wrapper li.swiper-slide .ticket {
  width: 4.7rem;
  height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/ticket_bu.png");
  background-size: cover;
  background-position: 50% 50%;
  -webkit-filter: drop-shadow(0px 0.01rem 0.03rem #9db4e7);
          filter: drop-shadow(0px 0.01rem 0.03rem #9db4e7);
}

.web-page2 .conList .swiper-ticket ul.swiper-wrapper li.swiper-slide .ticket-item {
  width: 3.25rem;
}

.web-page2 .conList .swiper-ticket ul.swiper-wrapper li.swiper-slide a.receive {
  width: 1.45rem;
}

.web-page2 .btn-detail {
  height: auto;
  text-align: center;
}

.web-page2 .btn-detail > div {
  display: inline-block;
}

.web-page2 .btn-detail > div a.btn {
  color: #fff;
  font-size: .28rem;
  background-color: #074b6b;
}

.web-page3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#09355a), color-stop(40%, #165266));
  background-image: linear-gradient(180deg, #09355a 0%, #165266 40%);
}

.web-page3 .container {
  width: 100%;
  padding: 0 .3rem;
}

.web-page3 .container .title .title-item h2 {
  color: #fff;
}

.web-page3 .container .title .title-item span {
  background-image: url("../images/gift_icon2.png");
}

.web-page3 .container .title p {
  font-size: .28rem;
  color: #fec738;
  text-align: center;
}

.web-page3 .container .conList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web-page3 .container .conList ul li > div {
  width: 2.1rem;
  height: 2.25rem;
  overflow: hidden;
}

.web-page3 .container .conList ul li > div img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.web-page3 .container .conList ul li h3 {
  font-size: .25rem;
  color: #fff;
}

.web-page3 .container .conList ul li p {
  font-size: .28rem;
  color: #eb2929;
}

.web-page4 {
  background-color: #f2f8ff;
}

.web-page4 .container {
  width: 100%;
}

.web-page4 .swiper-focus.swiper-container .swiper-wrapper {
  width: auto;
}

.web-page4 .swiper-focus.swiper-container .swiper-wrapper .swiper-slide {
  width: 3.6rem;
}

.web-page4 .swiper-focus.swiper-container .swiper-wrapper .swiper-slide .item {
  width: 3.3rem;
  background-color: #074b6b;
  color: #fff;
}

.web-page4 .swiper-focus.swiper-container .swiper-wrapper .swiper-slide .item > div {
  width: 2.9rem;
  height: 1.4rem;
}

.web-page4 .swiper-focus.swiper-container .swiper-wrapper .swiper-slide .item > div img {
  width: 100%;
}

.web-page5 .container {
  width: 100%;
}

.web-page5 .layout ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.web-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=202004M.css.map */