$primary-color:#316247;
// $secondary-color:#D2D2D2;
$text-color:#316247;//>1500
// $text-color2:#606060;//519
$footer-color:#D2D2D2;
// $text-dark-color:#066490;
// $linear-color:linear-gradient(180deg, #FBDC32 0%, #FA9A02 100%);

$font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
