@import url("./reset.css");
html {
  height: 100%;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

img, a {
  display: block;
}

.e-header {
  font-size: 10px;
}

#main {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.clearfix {
  display: block;
  clear: both;
}

.clearfix::before {
  content: "";
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
}

.banner-posi {
  position: relative;
  z-index: 1;
  top: -74px;
  margin-bottom: -74px;
}

.banner-all {
  width: 100%;
  height: 0;
  padding-bottom: 37.8125%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  position: relative;
}

.banner-all .container, .banner-all .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.banner-all .banner-title-img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.banner-all h1,
.banner-all h2 {
  position: absolute;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.web-banner {
  width: 100%;
  height: 520px;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/duanwu/pc_bn.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.web-banner h1,
.web-banner h2 {
  font-size: 20px;
  position: absolute;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.web-page {
  width: 100%;
  font-size: 16px;
  color: #333333;
}

.inner {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}

.web-page.block1 {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  height: 0;
  padding-bottom: 52%;
  margin: 0 auto;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/duanwu/stage2_bg.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

@media screen and (max-width: 992px) {
  .web-page.block1 {
    margin-top: -100px;
    z-index: 10;
  }
}

.web-page.block1 .inner {
  width: 62.5%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.web-page.block1 .title {
  height: 23%;
  padding-top: 70px;
  text-align: center;
  font-size: 32px;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
  color: #316247;
}

@media screen and (max-width: 1200px) {
  .web-page.block1 .title {
    font-size: 24px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .web-page.block1 .title {
    font-size: 20px;
  }
}

.web-page.block1 .title span {
  color: #f0580d;
  font-weight: bold;
  letter-spacing: 4.5;
  margin: 0 7px;
}

.web-page.block1 .zongzi {
  width: 100%;
  height: 77%;
  position: relative;
}

.web-page.block1 .zongzi ul {
  width: 100%;
  height: 100%;
  position: relative;
}

.web-page.block1 .zongzi ul li {
  width: 21.08%;
  position: absolute;
  -webkit-animation: move 5s ease-in-out infinite;
          animation: move 5s ease-in-out infinite;
}

.web-page.block1 .zongzi ul li img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  35% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  70% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  35% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  70% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.web-page.block1 .zongzi ul li:nth-child(1) {
  top: 11%;
  left: 14%;
}

.web-page.block1 .zongzi ul li:nth-child(2) {
  top: 3.5%;
  left: 40%;
}

.web-page.block1 .zongzi ul li:nth-child(3) {
  top: 12%;
  left: 66%;
}

.web-page.block1 .zongzi ul li:nth-child(4) {
  top: 43%;
  left: 10%;
}

.web-page.block1 .zongzi ul li:nth-child(5) {
  top: 34%;
  left: 39%;
}

.web-page.block1 .zongzi ul li:nth-child(6) {
  top: 42%;
  left: 67%;
}

.web-page.block1 .zongzi .rule-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 17%;
  width: 100%;
  text-align: center;
}

.web-page.block1 .zongzi .rule-button a {
  width: 27%;
  margin: 0 1%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}

.web-page.block1 .zongzi .rule-button a img {
  width: 100%;
  height: auto;
}

.web-page.block1 .zongzi .rule-button a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
  white-space: nowrap;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

@media screen and (max-width: 1460px) {
  .web-page.block1 .zongzi .rule-button a span {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .web-page.block1 .zongzi .rule-button a span {
    font-size: 18px;
  }
}

.web-page.block2 {
  width: 100%;
  padding-top: 5.2%;
  padding-bottom: 4.583%;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/duanwu/stage3_bg.jpg") 50% 50%;
  background-size: cover;
}

.web-page.block2 .inner {
  max-width: 1200px;
  width: 100%;
}

.web-page.block2 .layout-box {
  width: 94.5%;
  margin: 0 auto;
  height: 0;
  padding-bottom: 57.83%;
  position: relative;
}

.web-page.block2 .rule-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/duanwu/boder.png") 50% 50%;
  background-size: 100% 100%;
}

.web-page.block2 .rule-content .activity, .web-page.block2 .rule-content .notice {
  position: absolute;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popup-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tc-hide {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.8;
}

.tc-hide .masking {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.light-box {
  position: relative;
  z-index: 99999;
  color: #fff;
  font-size: 20px;
}

.light-box img {
  width: 100%;
  height: auto;
}

.light-box .content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.light-box a[type="button"] {
  position: relative;
  cursor: pointer;
  width: 290px;
  height: 90px;
  margin: 0 auto;
  color: #FAB948;
}

.light-box a[type="button"] img {
  width: 100%;
  height: 100%;
}

.light-box a[type="button"] span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  white-space: nowrap;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

#lottery-box .content {
  padding-top: 228px;
}

#lottery-box .content > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

#lottery-box .content > ul li {
  margin: 0 25px;
  font-weight: bold;
  font-size: 29px;
  text-align: center;
}

#lottery-box .content > ul li > img {
  margin-bottom: 12px;
}

#award-box .content {
  padding-top: 130px;
  text-align: center;
  font-size: 35px;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

#award-box .content .award-list {
  margin-bottom: 46px;
}

#award-box .content .award-list span {
  font-weight: bold;
  letter-spacing: 6px;
}

#award-box .content p {
  margin-bottom: 37px;
}
/*# sourceMappingURL=duanwu.css.map */