@import url("./reset.css");
@import "./old-campaign2006_base/variables";
@import "./old-campaign2006_base/pc_init";

.body{
    color: #000;
}

.d-flex{
    display: flex;
}

$bg-yellow:#f7d569;
$bg-blue:#034da8;
$text-yellow:#ffde00;
$text-yellow2:#f7e288;//light
$text-blue:#013748;
$text-blue2:#034da8;//light
$footer-gray:#D2D2D2;

// =============================================================
// .web-banner.banner-all{
.web-banner{//!!!!看来要拉出一个单纯的class!!!

    width: 100%;
    // height: 0;
    // padding-bottom: 31.25%;
    // padding-bottom: 37.8125%;
    height: 600px;
    background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2006/topban.jpg") no-repeat;
    // background-size: auto 100%;//相对背景区
    background-size: cover;
    // background-position: top center;//SF说会跑掉
    background-position: center center;
    position: relative;

    // @include bgTxt(1920,726,'Banner-up1');
    // margin: 0 auto;//给死宽度的缺点就是超出1920会跑版 所以这边都得加至中
    // position: relative;

    .inner{
        // width: auto;//盖掉!!!
        width: 100%;//盖掉!!!
        max-width: 1200px;

        position: absolute;//!!!!不这样定位的话inner高度会部件!!! 子层的position是无法撑起高度的!!!
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .banner-title-img{

        // max-width: 370px;
        // max-width: 100%;//!!!!!!!!!竟然没用
        // position: absolute;
        position: relative;
        width: 30.83%;//370/1200  //要做这边的RWD发现满难的 可能要用断点来处理
        height: auto;
        // top: 120px;
        // right: 190px;
        top: 50%;
        transform:translateY(-50%);
        right: 10%;
    }
    // .banner-title-img{
    //     position: absolute;
    //     top: 138px;
    //     right: 180px;
    //     // z-index: 5;
    // }
    .banner-title{
        h1,
        h2 {
            font-size: 20px;
            position: absolute; 
            color: transparent;
            user-select: none;
        }
    }
    
}

.title-item{
    span:nth-of-type(1){
        transform:translateY(-40%);
    }
    span:nth-of-type(2){
        transform:translateY(10%);
    }
}


.web-page.block-1{//!!!!这种命名好处是还可以额外再sass提高权重(以免init覆盖)
    background-color: $bg-yellow;
    .title{
        @extend .title-item;
        padding-top: 70px;
        .title-item{
            margin-bottom: 30px;
            color: $text-blue2;
        }
        p{
            color: $text-blue;
            font-family: $font-family;
            line-height: 1.7;
            font-size: 28px;
            letter-spacing:2px
        }
    }
    .list{
        // width: 1200px;
        width: 100%;
    }

    .list-up{
        padding: 80px 0 43px;
        justify-content: space-between;
    }
    ///!!!!原来flex这样排表格取代display block
    .table-box{
        // display: block;//!!!table标签不会占满宽
        // width: 100%;
        // flex: 1;
        border-radius: 22px;
        overflow: hidden;
        box-shadow: 0 3px 10px 2px rgba(0,0,0,.6);
        position: relative;
        // ===============================
        width:426px; 
        height:332px;
        // background:url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2006/table1.png") no-repeat;
        background-size:427px 332px;
        thead,tbody{
            // display: block;好像可放一起
            // visibility: hidden;
            position: absolute;
            top: -99999px;
            left: -99999px;
        }
        // -------------------------------
        // margin-bottom: 22px;
        font-size: 20px;
        font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
        tr{
            // display:block;/////要拿掉!!!
            display: flex;//!!!加上flex就会自动占满
            justify-content: center;
            align-items: center;
        }
        td,th{
            // display: block;
            // width: 33%;
            flex: 1;
            // flex-basis: 270px;
            padding: 10px;
        }////

        thead{
            tr{
                background-color: $text-yellow;
                color: $text-blue2;
                // font-weight: bold;//字仲也吃不到!!! 噢噢因未template 这边权重不够
                th{
                    font-weight: bold;
                    font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
                }
            }
        }
        tbody{

            tr{
                background: $bg-blue;
                color:#fff;
            }
            td{
                font-weight: bold;
                letter-spacing: 1.3;
            }
        }

    }
    .table1{
        background-image: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2006/table1.png");
    }
    .table2{
        background-image: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2006/table2.png");
    }
    .table3{
        background-image: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2006/table3.png")
    }
    .table-tip{
        text-align: center;
        p{
            font-size: 28px;
            line-height: 2;
            font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
            color: $text-blue;
        }
    }

    .rule-button{
        overflow: hidden;
        padding: 65px 0 125px;
        text-align: center;
        // line-height: initial;

        a{
            display: inline-block;
            margin: 0 20px;
            width: 355px;
            height: 85px;
            line-height: 85px;
            font-size: 38px;
            // font-weight: bold;
            letter-spacing: 1.5px;
            border-radius: 15px;
            text-align: center;
            cursor: pointer;
            //上网查过a的字体会被浏览器盖过 所以不会继承
            font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
            transition: all .25s;
            &:hover{
                // box-shadow: 0 2px 8px 1px rgba(45,221,255,.5);
                // box-shadow: 0 2px 12px 2px lighten($primary-color,20%);
                box-shadow: 0 2px 12px 2px rgba(0,0,0,.3);
            }

        }

        a.rule{
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid $bg-blue;
            color: $bg-blue;
        }

        a.chat{
            color:$text-yellow2;
            // background-color: blue;
            background-image: linear-gradient(180deg, #1394f8 0%, #044fab 100%);
        }
    }
}

// .web-page.block-2{
//     @include bgTxt(1920,470,GirlBG);
//     // background-color: #000;
//     margin: 0 auto;//
//     h2,p{color: #fff;}
    
//     .layout-box{
//         // width: 600px;//!!!float也可不用写宽度
//         float: right;
//     }

//     .title{
//         h2{
//             padding: 0 10px;
//         }
//         .title-item{
//             text-align: left;
//             margin-bottom: 10px;
//         }
//     }

//     .example-content{
//         font-size: 20px;
//         letter-spacing: 1.5px;
//         line-height: 1.8;
//         font-weight: normal;
//         font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;

//     }


// }

.web-page.block-2{
    background-color: $bg-blue !important;
    .title{
        @extend .title-item;
        padding-top: 90px;
        color: $text-yellow;
    }
    // .title-item{
    //     span:nth-of-type(1){
    //         background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2005/left-white-1.png") no-repeat;
    //     }
    //     span:nth-of-type(2){
    //         background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2005/right-white-2.png") no-repeat;
    //     }
    // }
    .conList1{
        padding: 90px 0 130px;
        ul{
            display: flex;
            // justify-content: space-between;
            justify-content: space-around;
            align-items: center;

            li{
                // --------
                // box-shadow: 0 0 8px 1px rgba(0,0,0,.3);
                margin: 0 5px;//避免阴影被切掉
                span{
                    display: block;
                    overflow: hidden;//不然这边阴影切不到
                    border-radius: 30px;
                    img{
                        // width: 100%;
                        // height: 100%;
                        // object-fit: cover;
                    }
                }
                .txt{
                    padding: 35px 0px 0px;
                    text-align: center;
                    font-size: 24px;
                    line-height: 1.5;
                    color: $text-yellow;
                    h3{//这边很特别 只有h3要给字体 p反而不用
                        font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
                        // font-weight: bold;
                        letter-spacing:1px;
                    }
                    p{
                        letter-spacing:1.5px;
                    }
                }
            }
        }
    }
}

.web-page.block-3{
    background-color: $bg-yellow;

    .title{
        padding-top: 150px;
        // margin-bottom: 50px;
    }
    .title-item h2{//!!不写h2吃不到 字体是写在section的父曾至少可以吃到
        color: $text-blue2;
    }

    .conList2{
        padding: 90px 0 140px;
        ul{
            display: flex;
            justify-content: center;//!!!!
            align-items: center;
            // font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
            li{
                width: 220px;
                margin: 0 35px;
                text-align: center;
                span{
                    display: block;
                    margin-bottom: 32px;//???阴影
                    img{
                        margin: 0 auto;
                    }
                }
                p{
                    font-size: 20px;
                    color:$text-blue2;
                    font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
                    letter-spacing: 1px;
                }
                p:nth-of-type(1) {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                p:nth-of-type(2) {
                    font-size: 30px;
                }
            }
        }
    }
}





.web-footer{
    padding: 35px 0 32px;
    background-color: $bg-blue;
    // color:$footer-color;//没笑
    line-height: 1.5;
    
    .item-1,.item-2{
        color:$footer-gray;
        opacity: .8;
    }
    .item-1{
        margin-bottom: 20px;
    }
    .item-2{
        margin-bottom:0;
    }
    
}

.section2>.line-throw+p{
    line-height: 1;
    margin-top: 20px;
}
.section4 h2{
    margin: 10px 0 0;
}