@charset "UTF-8";
@import url("./reset.css");
html {
  height: 100%;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

img, a {
  display: block;
}

.e-header {
  font-size: 10px;
}

#main {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.web-page {
  width: 100%;
  min-width: 1200px;
  font-size: 16px;
  color: #333333;
}

.web-page .title {
  padding-top: 100px;
}

.inner {
  overflow: hidden;
  width: 1320px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

.clearfix {
  display: block;
  clear: both;
}

.clearfix::before {
  content: "";
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
}

.banner-posi {
  position: relative;
  z-index: 1;
  top: -74px;
  margin-bottom: -74px;
}

.banner-all {
  width: 100%;
  height: 0;
  padding-bottom: 37.8125%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  position: relative;
}

.banner-all .container, .banner-all .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.banner-all .banner-title-img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.banner-all h1,
.banner-all h2 {
  position: absolute;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title-item, .web-page.block-1 .title, .web-page.block-2 .title {
  text-align: center;
  font-size: 0;
}

.title-item span, .web-page.block-1 .title span, .web-page.block-2 .title span {
  display: inline-block;
}

.title-item span:nth-of-type(1), .web-page.block-1 .title span:nth-of-type(1), .web-page.block-2 .title span:nth-of-type(1) {
  width: 34px;
  height: 25px;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2005/left-yellow-1.png") no-repeat;
  background-size: 34px 25px;
  background-position: 50% 50%;
}

.title-item span:nth-of-type(2), .web-page.block-1 .title span:nth-of-type(2), .web-page.block-2 .title span:nth-of-type(2) {
  width: 34px;
  height: 25px;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2005/right-yellow-2.png") no-repeat;
  background-size: 34px 25px;
  background-position: 50% 50%;
}

.title-item h2, .web-page.block-1 .title h2, .web-page.block-2 .title h2 {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
}

.title-item p, .web-page.block-1 .title p, .web-page.block-2 .title p {
  text-align: center;
}

.popup-box {
  max-width: 1000px;
  height: 650px;
  position: fixed;
  left: 0;
  right: 0;
  margin: -325px auto 0 auto;
  top: 50%;
  background: #fff;
  z-index: 9999999999;
  font-family: "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
  padding: 0 20px 20px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-box p {
  font-size: 20px;
  line-height: 1.9;
  color: #333333;
  text-align: justify;
}

.popup-box p span {
  overflow: hidden;
  display: inline;
  color: #d8505a;
}

.popup-box p a {
  overflow: hidden;
  display: inline;
  color: #225b76;
  text-decoration: underline;
}

.popup-box h2 {
  font-size: 20px;
  color: #b78255;
  font-weight: bold;
  position: relative;
}

.popup-box h2.verline i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #b78255;
  color: #fff;
  position: absolute;
  left: 0;
  top: 1px;
  text-align: center;
  line-height: 30px;
}

.popup-box .note {
  line-height: 30px;
}

.popup-box .note span {
  color: #f00;
}

.popup-box .close-top {
  height: 60px;
  color: #b78255;
  border-bottom: 1px solid #b78255;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
}

.popup-box .close-top a {
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  background: url(//img.getfc.com.cn/source/www/zt/campaign1710/close.png) no-repeat;
  top: 25px;
  right: 25px;
  text-decoration: none;
}

.popup-box .table3 td {
  width: 33.333333%;
}

.popup-box .table4 td {
  width: 16%;
}

.popup-box table.data-box {
  width: 100%;
  margin: 16px auto;
  text-align: center;
  font-size: 1.6em;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ead5c2;
}

.popup-box table.data-box thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.popup-box table.data-box thead th {
  font-size: 16px;
  text-align: center;
  padding: 15px;
  color: #FFFFFF;
  background: #dcb08e;
  line-height: 1.0;
  border: 1px dotted #ccc;
}

.popup-box table.data-box thead tr {
  border: 1px dotted #ccc;
}

.popup-box table.data-box tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.popup-box table.data-box tbody td {
  line-height: 1.6;
  text-align: center;
  color: #333333;
  padding: 1.44%;
  font-size: 16px;
  border: 1px dotted #ccc;
  font-family: Notol, "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
}

.popup-box table.data-box tbody .unit {
  font-size: 0.8em;
}

.popup-box table.data-box tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  background: #FFFFFF;
}

.popup-box table.data-box tbody tr.last-row td {
  border-bottom: 1px solid #CCCCCC;
}

.popup-box .box-in {
  margin: 3% 3% 5% 5%;
  color: #333333;
  overflow: auto;
  height: 500px;
  padding: 0% 2% 0 0;
}

.popup-box .box-in .section1 {
  margin-top: 0px;
}

.popup-box .box-in .section1 .detailContent {
  width: 670px;
  font-size: 18px;
  text-align: center;
  margin-left: 50px;
}

.popup-box .box-in .section1 .detailContent ul li span {
  display: inline-block;
  font-size: 20px;
  color: #e84c00;
  position: relative;
  left: -2px;
  top: -1px;
}

.popup-box .box-in .section1 .detailContent img {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: -90px;
  left: -110px;
}

.popup-box .box-in .section1 .detailContent img.pic {
  position: relative;
  top: -90px;
  left: 108px;
}

.popup-box .box-in .section1 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 5px;
}

.popup-box .box-in .section1 p {
  font-size: 20px;
}

.popup-box .box-in .section1 ul li:nth-child(2) {
  margin: 8px 63px;
}

.popup-box .box-in div.title, .popup-box .box-in div.bottom {
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: #e4f2f8;
}

.popup-box .box-in div.bottom {
  background: #f1f8fa;
  text-align: left;
  padding-left: 20px;
}

.popup-box .box-in .section3 ol li {
  font-size: 16px;
  margin-top: 10px;
}

.popup-box .box-in .section4 ol li {
  font-size: 20px;
  line-height: 2.2;
  text-align: justify;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
}

.popup-box .box-in .section4 ol li p.clearfix {
  font-size: 16px;
}

.popup-box .box-in .section5 ol li {
  font-size: 16px;
  line-height: 2.2;
  text-align: justify;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
}

.body {
  color: #000;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.web-banner {
  width: 100%;
  height: 600px;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2006/topban.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.web-banner .inner {
  width: 100%;
  max-width: 1200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.web-banner .banner-title-img {
  position: relative;
  width: 30.83%;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10%;
}

.web-banner .banner-title h1,
.web-banner .banner-title h2 {
  font-size: 20px;
  position: absolute;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title-item span:nth-of-type(1), .web-page.block-1 .title span:nth-of-type(1), .web-page.block-2 .title span:nth-of-type(1) {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.title-item span:nth-of-type(2), .web-page.block-1 .title span:nth-of-type(2), .web-page.block-2 .title span:nth-of-type(2) {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.web-page.block-1 {
  background-color: #f7d569;
}

.web-page.block-1 .title {
  padding-top: 70px;
}

.web-page.block-1 .title .title-item, .web-page.block-1 .title .title {
  margin-bottom: 30px;
  color: #034da8;
}

.web-page.block-1 .title p {
  color: #013748;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
  line-height: 1.7;
  font-size: 28px;
  letter-spacing: 2px;
}

.web-page.block-1 .list {
  width: 100%;
}

.web-page.block-1 .list-up {
  padding: 80px 0 43px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web-page.block-1 .table-box {
  border-radius: 22px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.6);
  position: relative;
  width: 426px;
  height: 332px;
  background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2006/table1.png") no-repeat;
  background-size: 427px 332px;
  font-size: 20px;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

.web-page.block-1 .table-box thead, .web-page.block-1 .table-box tbody {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.web-page.block-1 .table-box tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.web-page.block-1 .table-box td, .web-page.block-1 .table-box th {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.web-page.block-1 .table-box thead tr {
  background-color: #ffde00;
  color: #034da8;
}

.web-page.block-1 .table-box thead tr th {
  font-weight: bold;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

.web-page.block-1 .table-box tbody tr {
  background: #034da8;
  color: #fff;
}

.web-page.block-1 .table-box tbody td {
  font-weight: bold;
  letter-spacing: 1.3;
}

.web-page.block-1 .table-tip {
  text-align: center;
}

.web-page.block-1 .table-tip p {
  font-size: 28px;
  line-height: 2;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
  color: #013748;
}

.web-page.block-1 .rule-button {
  overflow: hidden;
  padding: 65px 0 125px;
  text-align: center;
}

.web-page.block-1 .rule-button a {
  display: inline-block;
  margin: 0 20px;
  width: 355px;
  height: 85px;
  line-height: 85px;
  font-size: 38px;
  letter-spacing: 1.5px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.web-page.block-1 .rule-button a:hover {
  -webkit-box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.3);
}

.web-page.block-1 .rule-button a.rule {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #034da8;
  color: #034da8;
}

.web-page.block-1 .rule-button a.chat {
  color: #f7e288;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1394f8), to(#044fab));
  background-image: linear-gradient(180deg, #1394f8 0%, #044fab 100%);
}

.web-page.block-2 {
  background-color: #034da8 !important;
}

.web-page.block-2 .title {
  padding-top: 90px;
  color: #ffde00;
}

.web-page.block-2 .conList2 {
  padding: 90px 0 130px;
}

.web-page.block-2 .conList2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.web-page.block-2 .conList2 ul li {
  margin: 0 5px;
}

.web-page.block-2 .conList2 ul li span {
  display: block;
  overflow: hidden;
  border-radius: 30px;
}

.web-page.block-2 .conList2 ul li .txt {
  padding: 35px 0px 0px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  color: #ffde00;
}

.web-page.block-2 .conList2 ul li .txt h3 {
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
  letter-spacing: 1px;
}

.web-page.block-2 .conList2 ul li .txt p {
  letter-spacing: 1.5px;
}

.web-page.block-3 {
  background-color: #f7d569;
}

.web-page.block-3 .title {
  padding-top: 150px;
}

.web-page.block-3 .title-item h2, .web-page.block-3 .web-page.block-1 .title h2, .web-page.block-1 .web-page.block-3 .title h2, .web-page.block-3 .web-page.block-2 .title h2, .web-page.block-2 .web-page.block-3 .title h2 {
  color: #034da8;
}

.web-page.block-3 .conList1 {
  padding: 90px 0 140px;
}

.web-page.block-3 .conList1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.web-page.block-3 .conList1 ul li {
  width: 220px;
  margin: 0 35px;
  text-align: center;
}

.web-page.block-3 .conList1 ul li span {
  display: block;
  margin-bottom: 32px;
}

.web-page.block-3 .conList1 ul li span img {
  margin: 0 auto;
}

.web-page.block-3 .conList1 ul li p {
  font-size: 20px;
  color: #034da8;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
  letter-spacing: 1px;
}

.web-page.block-3 .conList1 ul li p:nth-of-type(1) {
  font-size: 20px;
  margin-bottom: 20px;
}

.web-page.block-3 .conList1 ul li p:nth-of-type(2) {
  font-size: 30px;
}

.web-footer {
  padding: 35px 0 32px;
  background-color: #034da8;
  line-height: 1.5;
}

.web-footer .item-1, .web-footer .item-2 {
  color: #D2D2D2;
  opacity: .8;
}

.web-footer .item-1 {
  margin-bottom: 20px;
}

.web-footer .item-2 {
  margin-bottom: 0;
}
/*# sourceMappingURL=old-campaign2006.css.map */