#main{overflow: hidden;width: 100%; margin: 0; padding: 0; color: #333;}
.inner{overflow: hidden;width: 100%; margin: 0 auto; position: relative}
img{ overflow:hidden;border: none;display: block}
body,html{background: #eae8d9;font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;}
.web-banner{
    background: url('//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign1912/mb-banner.png') no-repeat center;
    background-size: 100% 100%;
    height: 9.51rem;
	background-color: #eae8d9;
    position: relative;
    z-index: 1;
}
.web-banner .inner img{
	width: 5.49rem;
	margin:1.69rem auto 0;
}
.web-page{
    overflow: hidden;
    position: relative;
}
.web-page .title {
    overflow: hidden;
    margin-top: 1rem;
    text-align: center
}
.web-page .title img{margin: 0 auto;width: 3.71rem}
.web-page .title img:last-child {transform: rotateY(180deg);}
.web-page .title p,.web-page .title span{
    overflow: hidden;
    display: block;
    font-size: .24rem;
    color: #013748;
    text-align: center;
    margin: .1rem 0 .15rem;
}
.web-page .title span{font-size: .46rem}
.web-page .title p {
    margin: .2rem auto 0;
    width: 6.3rem;
    line-height: .36rem;
}
.web-page .conList{overflow: hidden;}
.web-page .conList .slider{
    overflow: hidden;
    width: 4.25rem;
    height: 3.32rem;
    border-radius: .25rem;
    background: #c71b32;
    box-shadow: 0 .03rem .13rem rgba(0,0,0,.52);
    position: relative;
    margin: .4rem auto;
}
.tab-div{
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0.25rem;
	box-shadow: 0 0 10px rgba(0,0,0,.8);
	background-color: #e9d282;
	box-sizing: border-box;
	border: 0.06rem solid #c71b32;
	
}
.tab-div .tab-div-title{
	width: 100%;
	height: 0.63rem;
	line-height: 0.63rem;
	color: #c71b32;
	text-align: center;
	zoom: 1;
	font-size: 0.28rem;
	overflow: hidden;
	
}
.tab-div ul{
	width: 4.07rem;
}
.tab-div ul li{
	float: left;
	width: 1.26rem;
	height: 0.61rem;
	line-height: 0.61rem;
	text-align: center;
	border-right: 0.02rem solid #e4344b;
	border-bottom: 0.02rem solid #e4344b;
	background-color: #c71b32;
	font-size: 0.25rem;
	color: #fff;
}
.tab-div ul li:last-child{
	border-right: 0;
}
.tab-div ul li:nth-child(2){
	width: 1.5rem;
}
.tab-div .last-ul li{
	border-bottom: 0;
	
}
.tab-div .last-ul li:first-child{
	border-radius: 0 0 0 0.2rem;
}
.tab-div .last-ul li:last-child{
	border-radius: 0 0 0.2rem 0;
}
.bold-b{
	font-weight: bold;
	font-size: 0.32rem!important;
	color: #eaff74!important;
}
.web-page .conList .slider p.last{
    overflow: hidden;
    width: 3.9rem;
    height: .9rem;
    line-height: .9rem;
    margin: 0 auto;
    background:-webkit-linear-gradient(top, #fbe78a, #cdb175);
    background: -o-linear-gradient(top, #fbe78a, #cdb175);
    background: -moz-linear-gradient(top, #fbe78a, #cdb175);
    background: linear-gradient(to top, #fbe78a, #cdb175);
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .1rem;
    color: #013748;
    font-weight: bold;
    font-size: .34rem;
}
.web-page .conList .slider p.last.color{color: #a50606}
.web-page .conList .slider .item{
    overflow: hidden;
    background: url("../../images/campaign1911_new/li.png");
    background-size: 100% 100%;
    width: 3.83rem;
    height: 2.91rem;
    margin: .1rem auto .08rem;
}
.web-page .conList .swiper-container{height: 4.75rem}
.web-page .conList .swiper-button-next, .swiper-button-prev{
    width: .35rem;
    height: .6rem;
    bottom: 2.075rem;
    top: 2rem;
	
}
.web-page .conList .swiper-button-prev{
    background: url("../../images/campaign1911_new/arrow.png") no-repeat;
    background-size: 100% 100%;
    left: .85rem;
    transform: rotateY(180deg);
}
.web-page .conList .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}
.web-page .conList .swiper-button-next{
    background: url("../../images/campaign1911_new/arrow.png") no-repeat;
    background-size: 100% 100%;
    right: .85rem;
}
.web-page .btn{overflow: hidden;margin-bottom: .5rem;height: 1.3rem;}
.web-page .btn a{
    overflow: hidden;
    display: block;
    width: 5.51rem;
    height: .95rem;
    background: #eae8d9;
    color: #e13541;
    font-size: .42rem;
    font-weight: bold;
    border-radius: .25rem;
    text-align: center;
    line-height: .95rem;
    margin: .05rem auto .1rem;
    cursor: pointer;
	border: 0.02rem solid #f64b4e;
	box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,.5);
}
.web-page .btn p{
    overflow: hidden;
    display: block;
    font-size: .24rem;
    color: #013748;
    text-align: center;
}
.web-page .conList1{overflow: hidden;margin: .3rem 0 0}
.web-page .conList1 li{
    overflow: hidden;
    display: block;
    width: 50%;
    float: left;
    margin-bottom: .55rem;
}
.web-page .conList1 li span{
    overflow: hidden;
    background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign1912/last-1.png") no-repeat;
    background-size: 100% 100%;
    width: 1.85rem;
    height: 1.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto .1rem;
}
.web-page .conList1 li:nth-child(2) span{
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign1912/last-2.png") no-repeat;
	background-size: 100% 100%;
}
.web-page .conList1 li:nth-child(3) span{
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign1912/last-3.png") no-repeat;
	background-size: 100% 100%;
}
.web-page .conList1 li:nth-child(4) span{
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign1912/last-4.png") no-repeat;
	background-size: 100% 100%;
}
.web-page .conList1 li span img{width: .7rem}
.web-page .conList1 li p{
    overflow: hidden;
    display: block;
    color: #013748;
    font-size: .22rem;
    text-align: center;
}
.web-page .conList1 li p:last-child{
    font-size: .3rem;
    font-weight: bold;
    margin-top: .05rem;
}
.down-footer{background: #fff;padding-bottom: 1.5rem}
.down-footer .copyright span{color: #013748;}
.bot-fixed{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #f32d4e;
    box-shadow: 0 -.1rem .08rem rgba(221,221,221,.4);
    padding-bottom:  env(safe-area-inset-bottom);
}
.bot-fixed ul{
    overflow: hidden;
    list-style: none;
    height: .9rem;
    margin: .1rem 0;
    padding: 0 .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bot-fixed ul li{
    overflow: hidden;
    list-style: none;
    width: 2.84rem;
    height: .78rem;
    border-radius: .185rem;
    margin: 0 .16rem;
}
.bot-fixed ul li a img{width: .5rem;margin: 0 auto}
.bot-fixed ul li a{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: .34rem;
	font-weight: bold;
    color: #f32d4e;
    height: .78rem;
	background:-webkit-linear-gradient(top, #ebdfe1, #c3c3c3);
	background: -o-linear-gradient(top, #ebdfe1, #c3c3c3);
	background: -moz-linear-gradient(top, #ebdfe1, #c3c3c3);
	background: linear-gradient(to top, #ebdfe1, #c3c3c3);
	
}
.bot-fixed ul li a.download{
	background: linear-gradient(to top, #f32d4e, #f32d4e);
	box-sizing: border-box;
	border: 2px solid #e3c057;
	border-radius: .2rem;
	background-color: #f32d4e;
	color: #f7e288!important;
}
.bot-fixed ul li.account{
    box-shadow: 5px 5px 7px rgba(0,0,0,.52);
}
.bot-fixed ul li.border{
    box-shadow: 5px 5px 7px rgba(0,0,0,.52);
}
/*弹窗*/
.tc-hide{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    line-height: 1.8;
}
.masking{
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}
.popup-box {
    overflow: hidden;
    max-width:95%;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:10%;
    background: #fff;
    z-index: 99999;
    font-family: "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.3);
}
.popup-box .box-in {
    margin: 3% 4% 5% 4%;
    overflow-y: auto;
    height: 8rem;
}
.popup-box .close-top{
    padding:0.3rem 0.3rem;
    font-size: 0.44rem;
    color:#b78255;
    text-align: center;
    border-bottom: 1px solid #b78255;
    width:6rem;
    margin: 0 auto;
    position: relative;
}
.popup-box .close-top a{
    background: url(../../images/campaign1710/close-b.png) no-repeat;
    width: 0.21rem;
    height:0.21rem;
    background-size: 0.21rem 0.21rem;
    position: absolute;
    right: 0;
    margin-top: .2rem;
    text-decoration: none;
}
.popup-box  .box-in .section1 .item{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: .1rem;
}
.popup-box .section1 h2{
    font-size: 0.28rem;
    font-weight: bold;
    color: #b78255;
}
.popup-box table.data-box {
    width: 100%;
    margin: 16px auto .25rem;
    text-align: center;
    border: 0 !important;
    font-size: 1.6em;
    border-collapse: collapse;
    border-spacing: 0;
}
.popup-box .box-in .line-throw{font-size: 0.3rem;}
.popup-box .box-in .section1 p{
    font-size:0.28rem;
    line-height: 1.8;
}
.popup-box .box-in .section3 p{
    font-size:0.28rem;
    /*margin-bottom: 0.2rem;*/
    line-height: 1.8;
}
.popup-box .box-in .section3 p a{color: #0096dc}
.popup-box .box-in .section3 p span{
    color: #f00;
    font-weight: bold;
}
.popup-box .box-in .section4  h2{
    font-size: 0.3rem;
    margin-bottom: 0.1rem;
    color: #b78255;
}
.popup-box .box-in .section4 li{
    font-size: 0.28rem;
    line-height: 1.8;
}
.popup-box .box-in .section4 li span{
    /*margin-right: 0.15rem;*/
}
.popup-box .box-in .section4 li p{
    display: flex;
}

.popup-box table.data-box thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box thead th {
    font-size: .28rem;
    text-align: center;
    padding: .15rem .05rem;
    color: #FFFFFF;
    background: #dcb08e;
    line-height: 1.0;
}
.popup-box table.data-box thead tr {
    border: 1px solid #dcb08e;
}
.popup-box table.data-box tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box tbody td {
    line-height: 1.0;
    text-align: center;
    color: #333333;
    padding: 1.44%;
    font-size: .28rem;
    border: 0.025rem solid #ead5c2;
    font-family: Notol, "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
}
.popup-box table.data-box tbody .unit {
    font-size: 0.8em;
}
.popup-box table.data-box tbody tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
//background: #f7efe8;
}
.popup-box table.data-box tbody tr.grey {
    background: #fff;
}
.popup-box table.data-box tbody tr.last-row td {
    border-bottom: 1px solid #CCCCCC;
}
.popup-box table.data-box .first-child {
    text-align: center;
    font-size: .28rem;
}
.popup-box table.data-box .first-child a {
    color: #666666;
    text-decoration: none;
}
.popup-box .table1 td,
.popup-box .table2 td {
    width: 25%;
}
.popup-box .table4 td {
    width: 16%;
}
.popup-box .table3 td {
    width: 33.333333%;
}
.popup-box .note{line-height: 1.8;font-size: 0.24rem;margin-bottom: 0.1rem}
.popup-box .note span{color: #f00}
.down-footer span{
    line-height: 1.8;
}
.bot-fixed li{
    line-height: 1.8;
}