@import url("../init/M/template.css");
@import url("../init/M/reset.css");
@import url("./M/reset.css");
html {
  height: 100%;
  font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}

img, a {
  display: block;
}

.tc-hide {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  line-height: 1.8;
}

.masking {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

ul li, table {
  list-style-type: none !important;
}

.popup-box {
  overflow: hidden;
  max-width: 95%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10%;
  background: #fff;
  z-index: 99999;
  font-family: "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
  padding: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
}

.popup-box .close-top {
  padding: 0.3rem 0.3rem;
  font-size: 0.44rem;
  color: #b78255;
  text-align: center;
  border-bottom: 1px solid #b78255;
  width: 6rem;
  margin: 0 auto;
  position: relative;
}

.popup-box .close-top a {
  background: url(../../images/campaign1710/close-b.png) no-repeat;
  width: 0.21rem;
  height: 0.21rem;
  background-size: 0.21rem 0.21rem;
  position: absolute;
  right: 0;
  margin-top: .2rem;
  text-decoration: none;
}

.popup-box .note {
  line-height: 1.8;
  font-size: 0.24rem;
  margin-bottom: 0.1rem span;
  margin-bottom-color: #f00;
}

.popup-box .table1 td, .popup-box .table2 td {
  width: 25%;
}

.popup-box .table3 td {
  width: 33.3333%;
}

.popup-box .table4 td {
  width: 16%;
}

.popup-box table.data-box {
  width: 100%;
  margin: 16px auto .25rem;
  text-align: center;
  border: 0 !important;
  font-size: 1.6em;
  border-collapse: collapse;
  border-spacing: 0;
}

.popup-box table.data-box .first-child {
  text-align: center;
  font-size: .28rem;
}

.popup-box table.data-box .first-child a {
  color: #666666;
  text-decoration: none;
}

.popup-box table.data-box thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.popup-box table.data-box thead th {
  font-size: .28rem;
  /* font-size: .2rem; */
  text-align: center;
  padding: .15rem .05rem;
  color: #FFFFFF;
  background: #dcb08e;
  line-height: 1.0;
}

.popup-box table.data-box tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.popup-box table.data-box tbody td {
  line-height: 1.0;
  text-align: center;
  color: #333333;
  padding: 1.44%;
  font-size: .28rem;
  /* font-size: 14px; template*/
  border: 0.025rem solid #ead5c2;
  font-family: Notol, "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
}

.popup-box table.data-box tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.popup-box table.data-box tbody tr.grey td:nth-child(1) {
  /* width: 30px; */
}

.popup-box table.data-box tbody tr.grey {
  background: #fff;
}

.popup-box table.data-box tbody tr.last-row td {
  border-bottom: 1px solid #CCCCCC;
}

.popup-box table.data-box tbody .unit {
  font-size: 0.8em;
}

.popup-box .box-in {
  margin: 3% 4% 5% 4%;
  overflow-y: auto;
  height: 8rem;
}

.popup-box .box-in .line-throw {
  font-size: 0.3rem;
}

.popup-box .box-in .section1 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: .1rem;
}

.popup-box .box-in .section1 h2 {
  font-size: 0.28rem;
  font-weight: bold;
  color: #b78255;
}

.popup-box .box-in .section1 p {
  font-size: 0.28rem;
  line-height: 1.8;
}

.popup-box .box-in .section3 p {
  font-size: 0.28rem;
  /*margin-bottom: 0.2rem;*/
  line-height: 1.8;
}

.popup-box .box-in .section3 p a {
  color: #0096dc;
}

.popup-box .box-in .section3 p span {
  color: #f00;
  font-weight: bold;
}

.popup-box .box-in .section3 .first {
  border-left: .025rem solid #ccc;
}

.popup-box .box-in .section3 ul li ul li {
  float: left;
  font-size: 12px;
  width: 16%;
  text-align: center;
  height: 2.5rem;
  border-right: 0.025rem solid #ccc;
  border-bottom: 0.025rem solid #ccc;
  padding-top: 1rem;
}

.popup-box .box-in .section3 ul li ul li.last {
  width: 20%;
  padding-top: .5rem;
}

.popup-box .box-in .section4 h2 {
  font-size: 0.3rem;
  margin-bottom: 0.1rem;
  color: #b78255;
}

.popup-box .box-in .section4 li {
  font-size: 0.28rem;
  line-height: 1.8;
}

.popup-box .box-in .section4 li span {
  /*margin-right: 0.15rem;*/
}

.popup-box .box-in .section4 li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-box .box-in .section5 ol li {
  font-size: .2rem;
}

.down-footer span {
  line-height: 1.8;
}

.bot-fixed li {
  line-height: 1.8;
}
/*# sourceMappingURL=popup_m.css.map */