@charset "UTF-8";
.popup-box {
  max-width: 1000px;
  height: 650px;
  position: fixed;
  left: 0;
  right: 0;
  margin: -325px auto 0 auto;
  top: 50%;
  background: #fff;
  z-index: 9999999999;
  font-family: "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
  padding: 0 20px 20px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-box p {
  font-size: 20px;
  line-height: 1.9;
  color: #333333;
  text-align: justify;
}

.popup-box p span {
  overflow: hidden;
  display: inline;
  color: #d8505a;
}

.popup-box p a {
  overflow: hidden;
  display: inline;
  color: #225b76;
  text-decoration: underline;
}

.popup-box h2 {
  font-size: 20px;
  color: #b78255;
  font-weight: bold;
  position: relative;
}

.popup-box h2.verline i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #b78255;
  color: #fff;
  position: absolute;
  left: 0;
  top: 1px;
  text-align: center;
  line-height: 30px;
}

.popup-box .note {
  line-height: 30px;
}

.popup-box .note span {
  color: #f00;
}

.popup-box .close-top {
  height: 60px;
  color: #b78255;
  border-bottom: 1px solid #b78255;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
}

.popup-box .close-top a {
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  background: url(//img.getfc.com.cn/source/www/zt/campaign1710/close.png) no-repeat;
  top: 25px;
  right: 25px;
  text-decoration: none;
}

.popup-box .table3 td {
  width: 33.333333%;
}

.popup-box .table4 td {
  width: 16%;
}

.popup-box table.data-box {
  width: 100%;
  margin: 16px auto;
  text-align: center;
  font-size: 1.6em;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ead5c2;
}

.popup-box table.data-box thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.popup-box table.data-box thead th {
  font-size: 16px;
  text-align: center;
  padding: 15px;
  color: #FFFFFF;
  background: #dcb08e;
  line-height: 1.0;
  border: 1px dotted #ccc;
}

.popup-box table.data-box thead tr {
  border: 1px dotted #ccc;
}

.popup-box table.data-box tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.popup-box table.data-box tbody td {
  line-height: 1.6;
  text-align: center;
  color: #333333;
  padding: 1.44%;
  font-size: 16px;
  border: 1px dotted #ccc;
  font-family: Notol, "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
}

.popup-box table.data-box tbody .unit {
  font-size: 0.8em;
}

.popup-box table.data-box tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  background: #FFFFFF;
}

.popup-box table.data-box tbody tr.last-row td {
  border-bottom: 1px solid #CCCCCC;
}

.popup-box .box-in {
  margin: 3% 3% 5% 5%;
  color: #333333;
  overflow: auto;
  height: 500px;
  padding: 0% 2% 0 0;
}

.popup-box .box-in .section1 {
  margin-top: 0px;
}

.popup-box .box-in .section1 .detailContent {
  width: 670px;
  font-size: 18px;
  text-align: center;
  margin-left: 50px;
}

.popup-box .box-in .section1 .detailContent ul li span {
  display: inline-block;
  font-size: 20px;
  color: #e84c00;
  position: relative;
  left: -2px;
  top: -1px;
}

.popup-box .box-in .section1 .detailContent img {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: -90px;
  left: -110px;
}

.popup-box .box-in .section1 .detailContent img.pic {
  position: relative;
  top: -90px;
  left: 108px;
}

.popup-box .box-in .section1 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 5px;
}

.popup-box .box-in .section1 p {
  font-size: 20px;
}

.popup-box .box-in .section1 ul li:nth-child(2) {
  margin: 8px 63px;
}

.popup-box .box-in div.title, .popup-box .box-in div.bottom {
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: #e4f2f8;
}

.popup-box .box-in div.bottom {
  background: #f1f8fa;
  text-align: left;
  padding-left: 20px;
}

.popup-box .box-in .section3 ol li {
  font-size: 16px;
  margin-top: 10px;
}

.popup-box .box-in .section4 ol li {
  font-size: 20px;
  line-height: 2.2;
  text-align: justify;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
}

.popup-box .box-in .section4 ol li p.clearfix {
  font-size: 16px;
}

.popup-box .box-in .section5 ol li {
  font-size: 16px;
  line-height: 2.2;
  text-align: justify;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
}
/*# sourceMappingURL=popup_pc.css.map */