@import url("../reset.css");
@import url("../template.css");
// @import "./variables";//???为舌么汇入在这边 m-init还报错
@import "./old-campaign2006_base/M_init";//!!!!!!原来init改的 这边要再重新汇入依次!!!!


.d-flex{
    display: flex;
}

$bg-yellow:#f7d569;
$bg-blue:#034da8;
$text-yellow:#ffde00;
$text-yellow2:#f7e288;//light
$text-blue:#013748;
$text-blue2:#034da8;//light
$footer-gray:#D2D2D2;
// =====================================
.web-banner{
    background: url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/oldCampaign2006/m_banner.jpg") no-repeat;
    width: 7.5rem;
    height: 8.5rem;
    background-size: 7.5rem 8.5rem;
    background-position: 50% 50%;
    
}




.web-page.block-1{//!!!!这种命名好处是还可以额外再sass提高权重(以免init覆盖)
    background-color: $bg-yellow;
    padding-bottom: 1rem;
    .title{
        @extend .title-item;
        padding-top: .73rem;
        .title-item{
            h2{
                color:$text-blue2;
            }
            margin-bottom: .45rem;
        }
        p{
            color:$text-blue;
            font-family: $font-family;
            line-height: 1.7;
            letter-spacing:.02rem;
        }
    }

    .list-up{
        padding: .65rem 0 0;
    }

    .swiper-container{
        width: 100%;
        height: auto;//洗掉100%
    }
    .swiper-wrapper{
        width: auto;
        height: auto;
    }
    
    .swiper-navigation{
        // &::after{content:'';display:block;clear:both;}
        position: absolute;
        width: 6rem ;
        top: 43%;
        left: 0;
        right: 0;
        margin: auto;
        

    }
    .swiper-slide{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    ///!!!!原来flex这样排表格取代display block
    .table-box{
        // display: block;//!!!table标签不会占满宽
        position: relative;
        width:4.26rem; 
        height:3.32rem;
        margin: 0 auto .7rem;
        // background:url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/oldCampaign2006/table1.png") no-repeat;
        background-size:4.26rem 3.32rem;
        // margin-bottom: .23rem;
        box-sizing: border-box;
        // padding-left: .75rem;//??无效
        font-size: .3rem;
        font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
        thead,tbody{
            position: absolute;
            top: -999rem;
            left: -999rem;
        }
        
    }

    .swiper-wrapper{
        // .swiper-slide:nth-child(1){
        .slide1{
                .table-box{
                    // background:url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/oldCampaign2006/table1.png") no-repeat;
                    background-image:url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/oldCampaign2006/table1.png");
                }
        }
        // .swiper-slide:nth-child(2){
        .slide2{
            .table-box{
                                // background:url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/oldCampaign2006/table2.png") no-repeat;
                background-image:url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/oldCampaign2006/table2.png");
            }
        }
        // .swiper-slide:nth-child(3){
        .slide3{
            // background:url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/oldCampaign2006/table3.png") no-repeat;
            .table-box{
                background-image:url("http://sc.tfejy.com/source/www/zt/lp-img/mobile/oldCampaign2006/table3.png");
            }
        }
    }
    .list-tip{
        text-align: center;
        p{
            font-size: .24rem;
            line-height: 1.7;
            font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
            color: $text-blue;
            letter-spacing:.02rem;
        }
    }
    // .rule-button{
    //     // height: 2rem;
    //     padding-bottom: .9rem;
    //     text-align: center;
    //     // line-height: initial;
    //     // &::after{ //inline-block置中又失败了
    //     //     content:'';
    //     //     display: inline-block;
    //     //     height: 100%;
    //     // }
    //     a{
    //         display: inline-block;
    //         // vertical-align:middle;
    //         width: 2.85rem;
    //         height: .7rem;
    //         line-height: .7rem;
    //         font-size: .27rem;
    //         font-weight: bold;
    //         letter-spacing: .02rem;
    //         border-radius: .15rem;
    //         text-align: center;
    //         color:#fff;
    //         background-color: $primary-color;
    //         cursor: pointer;
    //         //上网查过a的字体会被浏览器盖过 所以不会继承
    //         font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
    //     }

    // }
}



.web-page.block-2{
    background-color: $bg-blue !important;
    .title{
        @extend .title-item;
        padding-top: .9rem;
        h2{
            color: $text-yellow;
        }
    }
    // .title-item{
    //     span:nth-of-type(1){
    //         background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2005/left-white-1.png") no-repeat;
    //     }
    //     span:nth-of-type(2){
    //         background: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/oldCampaign2005/right-white-2.png") no-repeat;
    //     }
    // }
    .conList1{
        padding: .9rem 0 .15rem;
        .container{
            // display: flex;
            padding: 0 .52rem;//60-7
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;
            // justify-content: space-around;
            // justify-content: center;
            // align-items: center;

            li{
                width: 50%;

                // --------
                // box-shadow: 0 0 8px 1px rgba(0,0,0,.3);
                .news-item{
                    // margin: 0 .07rem;
                    padding: 0 .08rem;
                    margin-bottom: 1.2rem;
                }
                span{
                    display: block;
                    width: 3.1rem;
                    height: 3.43rem;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit:cover//
                    }
                }
                .txt{
                    white-space: nowrap;
                    padding: .25rem 0px 0px;
                    text-align: center;
                    font-size: .24rem;
                    line-height: 1.5;
                    color: $text-yellow;
                    h3{//这边很特别 只有h3要给字体 p反而不用
                        font-size: .28rem;
                        font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
                        font-weight: normal;
                        letter-spacing:.01rem;
                    }
                    p{
                        font-size: .28rem;
                        letter-spacing:.015rem;
                    }
                }
            }
        }
    }
}




.web-page.block-3{
    background-color: $bg-yellow;
    margin-top: -.01rem;
    .title{
        padding-top: .75rem;
        // margin-bottom: 50px;
    }
    .title-item h2{//!!不写h2吃不到 字体是写在section的父曾至少可以吃到
        color: $text-blue2;
    }

    .conList2{
        padding: .55rem 0 0rem;
        ul{
            padding: 0 1.27rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // justify-content: space-around;
            // align-items: center;
            // align-content: space-between;
            font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
            li{
                width: 2.25rem;//!!?用最大的那个为宽/没用
                margin-bottom: .9rem;
                // &:nth-of-type(2)::after{
                    //     content:"";
                    //     width: 100%;
                    // }
                    // margin: 0 70px;
                text-align: center;
                

                // &:nth-of-type(1),&:nth-of-type(2){
                //     margin-bottom: .85rem;
                // }

                span{
                    display: block;//!!!!原来span是这样用
                    // width:1.5rem;
                    // height: 1.5rem;
                    margin-bottom: .15rem;
                    img{
                        width:1.83rem;
                        height: 1.81rem;
                        margin: 0 auto;
                    }
                }
                p{
                    color: $text-blue2;
                    white-space: nowrap;
                    letter-spacing:.01rem;
                    // font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
                }
                p:nth-of-type(1) {
                    font-size: .3rem;
                    margin-bottom: .24rem;
                    // font-weight: bold;
                }
                p:nth-of-type(2) {
                    font-size: .33rem;
                }
            }
        }
    }
}



.web-footer{
    background-color: $bg-blue;
    // padding: .65rem .65rem;
    padding: .2rem 0 1.8rem;
    text-align: center;
    .item-1,.item-2{
        color: #fff;
        font-size: 0.2rem;
        font-family:$font-family;
        line-height: 1.5;
        opacity: .7;
    }
    .item-1{
        margin-bottom: .15rem;
    }
    
}
.down-footer{
    display: none;
}



.bot-fixed{
    background-color: #434241;
    position: fixed;
    z-index: 888;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .4rem 0 .3rem;
    }
    
    // img{
    //     width: 0.62rem;
    //     height: 0.67rem;
    //     margin-right: .1rem;
    // }
    li.bot-item{
        // display: flex;
        margin: 0 .07rem;
        // font-size: 0;
        a{
            width: 3.38rem;
            height: 0.83rem;
            line-height: .83rem;
            box-sizing: border-box;
            font-size: 0.38rem;
            font-weight: bold;
            font-family: $font-family;
            text-align: center;
            letter-spacing:.02rem;
            border-radius:.2rem
        }
    }
    li.bot-item:nth-of-type(1){
        a{
            color: $text-blue2;
            background-color: #fff;
            border: .02rem solid $bg-blue;
            line-height: .79rem;//!!!!lh只算不包含border的
        }
    }
    li.bot-item:nth-of-type(2){
        a{
            color:$text-yellow2;
            background-image: linear-gradient(180deg, #1394f8 0%, #044fab 100%);
        }
    }
}


li.bot-item.onlyChat{//要写再后面!!!!!!
    img{
        margin-right: .4rem;
    }
    a{
        width: 4.3rem !important;
        height: .75rem !important;
        line-height: .73rem !important;
        font-size: .35rem !important;
        letter-spacing: .13rem;
    }
}

.popup-box .box-in .section1 .item{
    margin-bottom: 0;
}
.popup-box .box-in .section4 h2{
    margin: .15rem 0 0;
}
