#main{overflow: hidden;width: 100%; margin: 0; padding: 0; color: #333;}
.inner{overflow: hidden;width: 100%; margin: 0 auto; position: relative}
img{ overflow:hidden;border: none;display: block}
body,html{background: #fff;font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;}
.web-banner{
    background: url('//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/bg.jpg') no-repeat center;
    background-size: 100% 12.5rem;
    height: 12.50rem;
	background-color: #eae8d9;
    position: relative;
    z-index: 1;
}
.web-banner .inner img{
	width: 4.98rem;
	height: 5.3rem;
	margin:.87rem auto 0;
}
.web-page{
    overflow: hidden;
    position: relative;
}
.web-page .title {
    overflow: hidden;
    margin-top: 1rem;
    text-align: center
}
.web-page .title img{margin: 0 auto;width: 3.71rem}
.web-page .title p,.web-page .title span{
    overflow: hidden;
    display: block;
    font-size: .23rem;
    color: #013748;
    text-align: center;
    margin: .1rem 0 .15rem;
}
.web-page .title span{font-size: .46rem}
.web-page .title p {
    margin: .2rem auto .2rem;
    width: 6.3rem;
    line-height: .36rem;
}

.item-t1 .title img{
	width: 5.15rem;
	height: .46rem;
}
.item-t1 .inner{
	background-image: url(//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/fd.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 7.98rem;
	background-size: 7.19rem 5.73rem;
}
.web-page .conList{overflow: hidden;
	width: 6.9rem;
	margin: 0 auto;
	zoom: 1;
	display: flex;
	justify-content: center;
}
.tab-div{
	width: 6rem;
	height: 3.95rem;
	margin-top: 1.45rem;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
}
.tab-div .tab-div-title{
	width: 100%;
	height: 0.63rem;
	line-height: 0.63rem;
	color: #c71b32;
	text-align: center;
	zoom: 1;
	font-size: 0.28rem;
	overflow: hidden;
	
}
.tab-div ul{
	width: 100%;
	overflow: hidden;
	zoom: 1;
	height: .63rem;
}
.tab-div ul li{
	float: left;
	width: 2rem;
	height: 0.63rem;
	line-height: 0.63rem;
	text-align: center;
	font-size: 0.22rem;
	color: #2992ff;
	border: 0;
}
.tab-div ul li.last-li{
	width: 100%;
	color: #fff;
}
.bold-b{
	font-weight: bold;
	font-size: 0.28rem!important;
	color: #f2d8ba!important;
}
.web-page .conList .slider p.last{
    overflow: hidden;
    width: 3.9rem;
    height: .9rem;
    line-height: .9rem;
    margin: 0 auto;
    background:-webkit-linear-gradient(top, #fbe78a, #cdb175);
    background: -o-linear-gradient(top, #fbe78a, #cdb175);
    background: -moz-linear-gradient(top, #fbe78a, #cdb175);
    background: linear-gradient(to top, #fbe78a, #cdb175);
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .1rem;
    color: #013748;
    font-weight: bold;
    font-size: .34rem;
}
.web-page .conList .slider p.last.color{color: #a50606}
.web-page .conList .slider .item{
    overflow: hidden;
    background: url("../../images/campaign1911_new/li.png");
    background-size: 100% 100%;
    width: 3.83rem;
    height: 2.91rem;
    margin: .1rem auto .08rem;
}
.web-page .conList .swiper-container{height: 4.75rem}
.web-page .conList .swiper-button-next, .swiper-button-prev{
    width: .35rem;
    height: .6rem;
    bottom: 2.075rem;
    top: 2rem;
	
}
.web-page .conList .swiper-button-prev{
    background: url("../../images/campaign1911_new/arrow.png") no-repeat;
    background-size: 100% 100%;
    left: .85rem;
    transform: rotateY(180deg);
}
.web-page .conList .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}
.web-page .conList .swiper-button-next{
    background: url("../../images/campaign1911_new/arrow.png") no-repeat;
    background-size: 100% 100%;
    right: .85rem;
}
.web-page .btn{overflow: hidden;margin-bottom: .5rem;height: 1.3rem;margin-top: 0.8rem;}
.web-page .btn a{
    overflow: hidden;
    display: block;
    width: 3.8rem;
    height: .82rem;
	background-image: linear-gradient(to right, #3281da , #0868d3);
    color: #fff;
    font-size: .28rem;
    border-radius: .82rem;
    text-align: center;
    line-height: .82rem;
    margin: .05rem auto .1rem;
    cursor: pointer;
	box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,.3);
}
.web-page .btn p{
    overflow: hidden;
    display: block;
    font-size: .24rem;
    color: #013748;
    text-align: center;
}

.web-page.item-t2{
	height: 8rem;
	background-color: #e5e5e5;
	zoom: 1;
}
.item-t2 .inner{
	width: 6.9rem;
	height: 100%;
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/df.png") no-repeat;
	background-size: 3.41rem 4rem;
	background-position: center bottom;
}
.item-t2 .inner .text-list{
	width: 100%;
	line-height: .38rem;
	font-size: 0.26rem;
	color: #333;
	margin-top: 0.5rem;
}
.text-list span{
	font-weight: bold;
	color: #1c5998;
}

.item-t3{
	background-color: #04498a;
	height: 9.22rem;
}
.web-page.item-t3 .title img{
	width: 3.84rem;
	height: 0.43rem;
}
.web-page.item-t2 .title img{
	width: 2.95rem;
	height: 0.42rem;
}
.web-page.item-t4 .title img{
	width: 6.9rem;
	height: 0.46rem;
}
.web-page .conList1{overflow: hidden;margin:0 auto;width: 6.9rem;margin-top: .6rem;}
.web-page .conList1 li{
    overflow: hidden;
    display: block;
    width: 50%;
    float: left;
    margin-bottom: .55rem;
}
.web-page .conList1 li span{
    overflow: hidden;
    background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/last-1.png") no-repeat;
    background-size: 100% 100%;
    width: 1.66rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto .1rem;
}
.web-page .conList1 li:nth-child(2) span{
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/last-2.png") no-repeat;
	background-size: 100% 100%;
}
.web-page .conList1 li:nth-child(3) span{
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/last-3.png") no-repeat;
	background-size: 100% 100%;
}
.web-page .conList1 li:nth-child(4) span{
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/last-4.png") no-repeat;
	background-size: 100% 100%;
}
.web-page .conList1 li span img{width: .7rem}
.web-page .conList1 li p{
    overflow: hidden;
    display: block;
    color: #2992ff;
    font-size: .26rem;
    text-align: center;
}
.web-page .conList1 li p:last-child{
    font-size: .3rem;
    
    margin-top: .05rem;
	color: #fff;
}


.item-t4{
	background-color: #fff;
	height: 10.9rem;
}
.web-page .conList2{overflow: hidden;margin:0 auto;width: 7.1rem;margin-top: .4rem;}
.web-page .conList2 li{
    overflow: hidden;
    display: block;
    width: 2.97rem;
    float: left;
	height: 3.97rem;
	margin: 0 .2rem;
	margin-top: .2rem;
    margin-bottom: .4rem;
	border-radius: 0.15rem;
	box-shadow: 0 0 .3rem rgba(0,0,0,.5);
}
.web-page .conList2 li:nth-child(1),.web-page .conList2 li:nth-child(3){
	margin-left: 0.38rem;
}
.web-page .conList2 li span{
    overflow: hidden;
    background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/last-5.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto .2rem;
}
.web-page .conList2 li:nth-child(2) span{
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/last-6.png") no-repeat;
	background-size: 100% 100%;
}
.web-page .conList2 li:nth-child(3) span{
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/last-7.png") no-repeat;
	background-size: 100% 100%;
}
.web-page .conList2 li:nth-child(4) span{
	background: url("//img.getfc.com.cn/source/www/zt/lp-img/mobile/oldCampaign2003/last-8.png") no-repeat;
	background-size: 100% 100%;
}
.web-page .conList2 li span img{width: .7rem}
.web-page .conList2 li p{
    overflow: hidden;
    display: block;
    color: #333;
	width: 2.5rem;
	height: 0.58rem;
	line-height: 0.58rem;
    font-size: .28rem;
    text-align: left;
	margin-left: 0.25rem;
}
.web-page .conList2 li p:last-child{
    font-size: .22rem;
	color: #666;
}

.down-footer{background: #fff;padding-bottom: 1.5rem}
.down-footer .copyright span{color: #013748;}
.bot-fixed{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #444;
    box-shadow: 0 -.1rem .08rem rgba(221,221,221,.4);
    padding-bottom:  env(safe-area-inset-bottom);
}
.bot-fixed ul{
    overflow: hidden;
    list-style: none;
    height: 1.1rem;
    margin: 0;
    padding: 0 .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bot-fixed ul li{
    overflow: hidden;
    list-style: none;
    width: 2.84rem;
    height: .78rem;
    border-radius: .78rem;
    margin: 0 .16rem;
}
.bot-fixed ul li a img{width: .5rem;margin: 0 auto}
.bot-fixed ul li a{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: .34rem;
    color: #fff;
    height: .78rem;
	background:-webkit-linear-gradient(to right, #3281da , #0868d3);
	background: -o-linear-gradient(to right, #3281da , #0868d3);
	background: -moz-linear-gradient(to right, #3281da , #0868d3);
	background: linear-gradient(to right, #3281da , #0868d3);
	
}
.bot-fixed ul li a.download{
	box-sizing: border-box;
	background:-webkit-linear-gradient(to right, #686868 , #4a4a4a);
	background: -o-linear-gradient(to right, #686868 , #4a4a4a);
	background: -moz-linear-gradient(to right, #686868 , #4a4a4a);
	background: linear-gradient(to right, #686868 , #4a4a4a);
	color: #fff!important;
}
.bot-fixed ul li.account{
    box-shadow: 5px 5px 7px rgba(0,0,0,.52);
}
.bot-fixed ul li.border{
	
    box-shadow: 5px 5px 7px rgba(0,0,0,.52);
}
/*弹窗*/
.tc-hide{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    line-height: 1.8;
}
.masking{
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}
.popup-box {
    overflow: hidden;
    max-width:95%;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:10%;
    background: #fff;
    z-index: 99999;
    font-family: "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.3);
}
.popup-box .box-in {
    margin: 3% 4% 5% 4%;
    overflow-y: auto;
    height: 8rem;
}
.popup-box .close-top{
    padding:0.3rem 0.3rem;
    font-size: 0.44rem;
    color:#b78255;
    text-align: center;
    border-bottom: 1px solid #b78255;
    width:6rem;
    margin: 0 auto;
    position: relative;
}
.popup-box .close-top a{
    background: url(../../images/campaign1710/close-b.png) no-repeat;
    width: 0.21rem;
    height:0.21rem;
    background-size: 0.21rem 0.21rem;
    position: absolute;
    right: 0;
    margin-top: .2rem;
    text-decoration: none;
}
.popup-box  .box-in .section1 .item{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: .1rem;
}
.popup-box .section1 h2{
    font-size: 0.28rem;
    font-weight: bold;
    color: #b78255;
}
.popup-box table.data-box {
    width: 100%;
    margin: 16px auto .25rem;
    text-align: center;
    border: 0 !important;
    font-size: 1.6em;
    border-collapse: collapse;
    border-spacing: 0;
}
.popup-box .box-in .line-throw{font-size: 0.3rem;}
.popup-box .box-in .section1 p{
    font-size:0.28rem;
    line-height: 1.8;
}
.popup-box .box-in .section3 p{
    font-size:0.28rem;
    /*margin-bottom: 0.2rem;*/
    line-height: 1.8;
}
.popup-box .box-in .section3 p a{color: #0096dc}
.popup-box .box-in .section3 p span{
    color: #f00;
    font-weight: bold;
}
.popup-box .box-in .section4  h2{
    font-size: 0.3rem;
    margin-bottom: 0.1rem;
    color: #b78255;
}
.popup-box .box-in .section4 li{
    font-size: 0.28rem;
    line-height: 1.8;
}
.popup-box .box-in .section4 li span{
    /*margin-right: 0.15rem;*/
}
.popup-box .box-in .section4 li p{
    display: flex;
}

.popup-box table.data-box thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box thead th {
    font-size: .28rem;
    text-align: center;
    padding: .15rem .05rem;
    color: #FFFFFF;
    background: #dcb08e;
    line-height: 1.0;
}
.popup-box table.data-box thead tr {
    border: 1px solid #dcb08e;
}
.popup-box table.data-box tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box tbody td {
    line-height: 1.0;
    text-align: center;
    color: #333333;
    padding: 1.44%;
    font-size: .28rem;
    border: 0.025rem solid #ead5c2;
    font-family: Notol, "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
}
.popup-box table.data-box tbody .unit {
    font-size: 0.8em;
}
.popup-box table.data-box tbody tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
//background: #f7efe8;
}
.popup-box table.data-box tbody tr.grey {
    background: #fff;
}
.popup-box table.data-box tbody tr.last-row td {
    border-bottom: 1px solid #CCCCCC;
}
.popup-box table.data-box .first-child {
    text-align: center;
    font-size: .28rem;
}
.popup-box table.data-box .first-child a {
    color: #666666;
    text-decoration: none;
}
.popup-box .table1 td,
.popup-box .table2 td {
    width: 25%;
}
.popup-box .table4 td {
    width: 16%;
}
.popup-box .table3 td {
    width: 33.333333%;
}
.popup-box .note{line-height: 1.8;font-size: 0.24rem;margin-bottom: 0.1rem}
.popup-box .note span{color: #f00}
.down-footer span{
    line-height: 1.8;
}
.bot-fixed li{
    line-height: 1.8;
}