<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- =============pc=============================================== -->
    <div id="main" class="wrapper">
        <section class="web-page lastPage">
            <div class="inner container"></div>
        </section>
        <!--#include file="./module/template.footer-1.html"-->
        <!--#include file="./module/html.body.end.html"-->
    </div>
    
    <div class="web-fixed">
        <div id="isLogin" class="item">
            <a href="javaScript:;" class="account" target="_blank" onclick="ga('send', 'event', 'Reg_Real', 'ClickAccount', 'SJ_LP', '1');">
                <p>免费开户</p>
                <span>0手续费 0佣金</span>
            </a>
        </div>
        <div class="item">
            <a href="javaScript:;" class="chat" target="_blank"onclick="openLive800(); ga('send', 'event', 'Chat_Live800', 'Click800', 'SJ_LP', '1');">
                <p>咨询客服</p>
                <span>报名参与</span>
            </a>
        </div>
    </div>
    
    <!-- =============mobile============================ -->
    <div class="bot-fixed">
        <ul>
            <li class="item account" id="isLogin">
                <a href="javaScript:;" onclick="ga('send', 'event', 'Reg_Real', 'ClickAccount', 'SJ_LP', '1');">
                    <img src="<!--#echo var='IMG_URL' default=''-->/source/www/zt/lp-img/mobile/campaign2005/M_icon1.png" alt="">
                    <span>开户领赠金</span>
                </a>
            </li>
            <li class="item">
                <a href="javaScript:;" onclick="openLive800(); ga('send', 'event', 'Chat_Live800', 'Click800', 'SJ_LP', '1');" class="chat">
                    <img src="<!--#echo var='IMG_URL' default=''-->/source/www/zt/lp-img/mobile/campaign2005/M_icon2.png" alt="">
                    <span>咨询客服</span>
                </a>
            </li>
            <li class="item" id="app">
                <a href="javaScript:;" class="app download" target="_blank">   
                    <img src="<!--#echo var='IMG_URL' default=''-->/source/www/zt/lp-img/mobile/campaign2005/M_icon3.png" alt="">
                    <span>下载APP</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>