

@import url("../reset.css");
// @import url("../template.css");
$primary-color:#7CD5FF;
$secondary-color:#0399de;

// ========init===================
html{
    height: 100%;
    // font-family: Arial, Helvetica, sans-serif;
    // font-family: "Microsoft JhengHei", "Heiti TC", "sans-self";
    font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}
h1,h2,h3,p,ul,li,a{
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
}


img,a{
    display: block;
}
// =======layout===============
section[class*="web-page"] {
    width: 100%;
    min-width: 1200px;//勉得缩到1200以下 container的东西挤爆
}

// #main { //我是用或是里面在包wrapper
.wrapper { //我是用或是里面在包wrapper
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    // color: #292626;
}
// ====================================================
// template.css里面的
// .inner {  //我是用container
.container {  //我是用container
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.clearfix{
    display: block;
    clear: both;
    &::before{
        content: "";
        display: block;
        visibility: hidden;
        font-size: 0;
        height: 0;
        clear: both;
    }
}


.e-header{
    font-size: 10px;
}
.banner-posi{
    position: relative;
    z-index: 1;
    top: -74px;
    margin-bottom: -74px;
}

.web-page1.banner-all{
    width: 100%;
    padding-bottom: 31.25%;
    background-image: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/campaign2005/PC2_bn.jpg");
    background-size: 100% 100%;
    background-position: 50% 50%;

    .container {
        position: relative;
        h1,
        h2 {
            position: absolute; //定位住才不会变高(盒子模型)
            color: transparent;
            user-select: none;
        }
    }

}

.title-item{
    font-size: 0;
    text-align: center;
    span {
        //!!这边小图span 行内元素会自动垂直置中?
        display: inline-block;
        width: 32px;
        height: 32px;
        font-size: 16px;
        background-image: url("http://sc.tfejy.com/source/www/zt/lp-img/pc/campaign2005/PC2_tab3.png");
        background-size: cover;
        background-position: 50% 50%;
    }

    h2 {
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        padding: 0 30px;
        // color: #074b6b;
        margin-bottom: 45px;
    }

    p{
        
    }
}

.web-page2{
    padding-top: 120px;
    .title{
        // @extend .title-item;
        h2{
            color: transparent;
            user-select: none;
            background: url("../images/pc2_h1.png") no-repeat;
            width: 728px;
            height: 219px;
            background-size: 728px 129px;
        }
        P{
            color:$secondary-color;
            font-size: 24px;
        }
    }
    .conList{
        >ul{
            display: flex;
            
        }
    }
}

.web-page5{
    background-color: #fff;
    .title{
        text-align: center;
        padding-top: 75px;
        .title-item{
            @extend .title-item;
            display: inline-block;
            h2{
                color:blue;
                margin-bottom: 60px;
            }
            span{
                background-image: url("../images/gift_icon.png");
            }
        }
        
    }

    .layout{
        ul{
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            li{
                color: blue;
                &>div{
                    // width: 260px;
                    // height: 264px;
                    width: 250px;
                    // height: 246px ;//!!!!!!好像其实不用给他高 给宽度 看出来的图片比例高度就好
                    margin-bottom: 30px;
                    
                    img{
                        width: 100%;
                        filter: drop-shadow(0px 3px 5px rgba(0,0,0,.2)) !important;
                    }
                }
                text-align: center;
                font-weight: 500;
                span{
                    font-size: 26px;
                    display: block;//!!span block才能margin
                    margin-bottom: 10px;
                }

                p{
                    font-size: 20px;
                }
            }
        }
    }

}


// ====左邊品牌 右邊註冊
.web-page6{
    overflow: hidden;
    background-color: $primary-color;
    .leftCon{
        float: left;
        .brand{
            &>ul{
                
                &>li{
                    display: flex;
                    align-items:center;
                }
            }
        }
    }

    .rightCon{
        float: right;
        .sign_box{
            width: 520px;
            // padding-top: 64px;
            // .clearfix:before TODO
            h3{
                font-size: 48px;
                color: white;
                margin-bottom: 16px;
            }
            form.zhuizong{
                // margin-bottom: 43px;
                .form-item{
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    height: 66px;
                    // padding-left: 25px;
                    padding-left: 22px;
                    box-sizing: border-box !important;
                    border-radius: 6px;
                    &>div{
                        margin-right: 22px;
                        img{
                            width: auto;
                        }
                    }
                    input{
                        display: block;
                        flex: 1;
                        background: transparent;
                        border: none;
                        line-height: 66px;
                        // padding-left: 20px;
                        font-size: 20px;
                        &::-webkit-input-placeholder{
                            color: #999;
                        }
                    }
                }

                .input-tip{
                    height: 34px !important;
                    line-height: 34px;
                    width: 100%;
                    margin: 0 auto;
                    text-align: left;
                    overflow: hidden;
                    span{
                        font-size: 14px;
                        padding-left: 20px;
                        color: #de3f00!important;
                    }
                }

                .yan-wrapper{
                    display: flex;
                    align-items: center;//??
                    // margin-bottom: 43px;
                    &>.form-item.yanZ-f1{
                        width: 372px;
                    }
                    .yanzheng-btn{
                        margin-left: auto;
                        width: 130px;
                        height: 66px;
                        line-height: 66px;
                        text-align: center;
                        background-image: linear-gradient(180deg,#1e7395 0%,#105183 50%);
                        border-radius: 5px;
                        box-shadow: 0px 3px 7px 0px rgba(0,0,0,.4);
                        a.btn-phonecode{
                            font-size: 20px;
                            color: white;
                            // display: none;
                        }
                        a.re-btn{
                            font-size: 17px;
                            color: white;
                        }
                    }
                }
            }

            .btn-account{
                &>a{
                    font-size: 30px;
                    line-height: 66px;

                    color: white;
                    // letter-spacing: 1.5px;
                    background-image: linear-gradient(180deg,#1e7395 0%,#0e4c81 50%);
                    border-radius: 6px;
                    box-shadow: 0px 3px 7px 0px rgba(0,0,0,.3);
                }
            }
        }
    }
}

.web-page7{
    background-color: #333333;
    color: white;
    // .line{
    //     height: 5px;
    //     background-color: #fff;
    // }
    .title{
        text-align: center;
        padding-top: 80px;
        .title-item{
            display: inline-block;
             @extend .title-item;
             h2{
                color:white;
                font-weight: normal;
             }
             span{
                background-image: url("../images/gift_icon2.png");
             }
        }
       
    }
    .layout{
        overflow: hidden;
        .leftCon2{
            float: left;
            width: 52.5%;
            ul{
                display: flex;
                // justify-content: space-around;
                
                li{
                    margin-left: 60px;
                    &>div{
                        width: 255px;
                        height: 255px;
                        img{
                            // object-fit: cover;//????完全沒用
                            width: 100%;
                            height: auto;
                        }
                    }

                    p{
                        font-size: 23px;
                        margin-top: 40px;
                        text-align: center;
                    }
                }
            }
        }

        .rightCon2{
            float: right;
            width: 47.5%;
        
            ul{
                padding-left: 120px;
                li{
                    padding-left: 60px;
                    background: url("../images/footer_icon.png") no-repeat;
                    background-position: left center;
                    p{
                        font-size: 24px;
                        line-height: 80px;
                    }
                }
            }
        }
    }
}


.web-footer{
    background-color: #333333;
    padding: 55px 0 178px;
    // margin-bottom: 133px;//还是为显
    // color: #ffffff !important;//放這邊竟然是沒用的對template
    // .item-1.item-2{//!!!上下差異 上面是兩個都要有
    .item-1,.item-2{
        color: #ffffff !important;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        opacity: .8;
    }
}


.web-fixed{//!!!切图思维不一样 
    position: fixed;
    z-index: 100;//定位不要忘记社z-index!
    left: 0;
    bottom: 0;
    width: 100%;
    height: 133px;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    &::before{
        content: "";
        display: block;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        width: 100%;
        background-color: #f2f8ff;
    }
    .item{ //以前都是先acount 再a
        // display: inline-block;
        // vertical-align: middle;//垂直置中失败????
        // line-height: 133px;
        margin: 0 160px;//!!!先置中在中间 再依次margin左右 不用特别指margin一编
        a{
            background-image: linear-gradient(180deg,#207897 0%,#0e4d81 100%);
            width: 270px;
            height: 80px;
            border-radius: 6px;
            text-align: center;
            box-shadow: 0px 5px 12px 0px rgba(0,0,0,.35);
            p{
                font-size: 23px;
                color: #fefefe;
                padding: 8px 0 8px;
            }
            span{
                font-size: 17px;
                color: #fefefe;
                opacity: .9;
            }
        }
    }
}