<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 有標題字要隱藏 跟一個標題圖片要定位 -->
    <section class="web-banner">
        <div class="inner">
            <!-- <img  class="banner-title-img" src="./lp-img/pc/oldCampaign2005/banner_up2.png" alt=""> -->
            <div class="banner-title-img" aos="fade-right">
                <img src="<!--#echo var='IMG_URL' default=''-->/source/www/zt/lp-img/mobile/oldCampaign2005/(M)BannerUPpic.png"
                    alt="">
            </div>
            <div class="banner-title">
                <h1>老客豪礼</h1>
                <h1>每手最高返利7美元</h1>
            </div>
        </div>
    </section>
    <!-- ===================================== -->
    <!-- 標題字隱藏 一左一右兩個圖片內容要定位 -->
    <section class="web-page1 banner-col">
        <div class="inner">
            <div class="banner-content">
                <div class="f-left"></div>
                <div class="f-right"></div>
            </div>
            <div class="banner-title">
                <h1>老客豪礼</h1>
                <h1>每手最高返利7美元</h1>
            </div>
        </div>
    </section>
    <!-- ========================================== -->
    <section class="web-page1 banner-all">
        <div class="inner">
            <div class="banner-content">
                <h1>新课最高响</h1>
                <h1>体验七天</h1>
            </div>
        </div>
    </section>
    
</body>
</html>