<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="web-page1 banner-col">
        <div class="container">
            <div class="banner-content">
                <div class="f-left"></div>
                <div class="f-right"></div>
            </div>
        </div>
    </section>
    <section class="web-page1 banner-all">
        <div class="container">
            <div class="banner-content">
                <h1>新课最高响</h1>
                <h1>体验七天</h1>
            </div>
        </div>
    </section>
    
</body>
</html>