#main{overflow: hidden;width: 100%; margin: 0; padding: 0; color: #333;}
.inner{overflow: hidden;width: 1200px;height: 100%; margin: 0 auto; position: relative}
img{ overflow:hidden;border: none;}
.e-header .header{
    background: none;
}
.web-banner{
    width: 100%;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/pic.jpg") no-repeat top center;
    height: 700px;
    top:-74px;
    position: relative;
    margin-bottom: -74px;
    padding-top: 190px;
}
.btn a{
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    margin-right: 35px;
    margin-bottom: 60px;
}
.btn{
    margin-top: 60px;

}
.btn a.account{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/yello-btn.png") no-repeat;
    width:250px;
    height: 72px;
    background-size: 250px 72px;
    transition: all .1s;
    cursor: pointer;
}
.btn a.chat{
    width:250px;
    height: 72px;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/write-btn.png") no-repeat;
    background-size: 250px 72px;
    transition: all .1s;
    cursor: pointer;
}
.btn a.account:hover{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/write-btn.png") no-repeat;
    background-size: 250px 72px;
}
.btn a.chat:hover{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/yello-btn.png") no-repeat;
    background-size: 250px 72px;
}
.web-page{
    overflow: hidden;
    position: relative;
}

.web-page.bg2{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/bg02.jpg") no-repeat center;
    height: 802px;
}
.web-page.bg2 .btn{
    position: static;
    display: flex;
    justify-content: center;
}
.web-page.bg2 .btn a.chat{margin-right: 12px}
.web-page .title{overflow: hidden;margin-top: 70px;text-align: center}
.web-page .title .item{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-page .title .item img{margin: 0 15px}

.web-page .title .item span{
    overflow: hidden;
    display: block;
    font-size: 36px;
    color: #faf1d7;
    font-weight: bold;
    margin: 0 18px;
}
.web-page .title .item span.light{
    display: inline;
    font-weight: lighter;
    margin-left: 10px;
}
.web-page .title p{
    overflow: hidden;
    display: inline-block;
    font-size: 18px;
    color: #666;
    text-align: center;
    border-bottom: solid 1px rgba(102,102,102,.3);
    /*border-top: solid 1px rgba(102,102,102,.3);*/
    padding: 5px 0;
    margin: 10px 0 25px;
}
.web-page .title p span{
    display: inline;
    margin: 0 10px;
    font-size: 18px;
    color: #82a732;
    font-weight: bold;
}
.web-page .title a {
    overflow: hidden;
    display: block;
    width: 256px;
    height: 68px;
    position: relative;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.web-page .title a .shadow{
    overflow: hidden;
    position: absolute;
    width: 80%;
    height: 40px;
    left: 10%;
    top: 0;
    z-index: 0;
    box-shadow: 0 0 28px rgba(0,0,0,.56);
}
.bg1{
    overflow: hidden;
    list-style: none;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/bg.jpg") no-repeat;
    width: 100%;
    height: 837px;
    background-size: 100% 837px;
}
.web-page .title a:hover .shadow{display: none}
.web-page .conList{overflow: hidden;position: relative;margin-top: 100px}
.web-page .conList .item{
    overflow: hidden;
    list-style: none;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/price-bg.png") no-repeat;
    width: 328px;
    height: 247px;
    position: relative;
    padding-top: 50px;
    float: left;
    margin: 0 10px;
    text-align: center;
}
.web-page .conList .special{
    padding-top: 80px;
}
.web-page .slider ul li{
    display: flex;
    justify-content: center;
}
.web-page .slider-nav{
    overflow: hidden;
    width: 100%;
    margin-top: 80px;
}
.web-page .slider-nav ul {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-page .slider-nav ul li {
    overflow: hidden;
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-indent: -999px;
    cursor: pointer;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/circle.png");
    border-radius: 100%;

}
.web-page .slider-nav ul li.on {
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/active.png");
    width: 35px;
    height: 35px;
}
.web-page .slider-nav .prev,.web-page .slider-nav .next{
    overflow: hidden;
    display: block;
    position: absolute;
    top: 40%;
    z-index: 11;
    width: 82px;
    height: 56px;
    left: 0;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1903/arrow-right.png") no-repeat;
    transform: rotateY(180deg);
    cursor: pointer;
}
.web-page .slider-nav .next{
    transform: rotateY(0deg);
    float: right;
    left: auto;
    right: 0;
}
.web-page .conList1{overflow: hidden;margin: 100px 0 }
.web-page .conList1 ul{
    overflow: hidden;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.web-page .conList1 ul li{
    overflow: hidden;
    list-style: none;
}
.web-page .conList1 ul li p{
    overflow: hidden;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #faf1d7;
    padding-left: 10px;
    margin-top: 24px;
}
.web-page .conList1 ul li img {
    margin: 103px 25px 0;
}
.web-page .conList1 ul li span{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/circle03.png") no-repeat;
    overflow: hidden;
    display: block;
    width: 202px;
    height: 200px;
    background-size: 202px 200px;
    text-align: center;
    padding-top: 52px;
}
.web-page .conList1 ul li span:hover{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/circle02.png") no-repeat;
    background-size: 202px 200px;
}
.web-page .conList1 ul li:first-child span{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/circle02.png") no-repeat;
    background-size: 202px 200px;
}
.web-page .conList1 ul li:first-child span:hover{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1904/circle03.png") no-repeat;
    background-size: 202px 200px;
}
.web-page .conList1 ul li span img{
    margin: 0;
}

/*.web-page .conList1 ul li span:hover{*/
    /*background: url("//img.getfc.com.cn/source/www/zt/campaign1904/circle02.png") no-repeat;*/
    /*background-size: 202px 200px;*/
/*}*/
/*.web-page .conList1 ul li span.ic-01:hover{*/
    /*background: url("//img.getfc.com.cn/source/www/zt/campaign1904/circle03.png") no-repeat;*/
    /*background-size: 202px 200px;*/
/*}*/
/*弹窗*/
.popup-box {
    max-width: 1000px;
    height: 650px;
    position: fixed;
    left: 0;
    right: 0;
    margin: -325px auto 0 auto;
    top: 50%;
    background: #fff;
    z-index: 99999;
    font-family: "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.popup-box .box-in {
    margin: 3% 3% 5% 5%;
    color: #333333;
    overflow: auto;
    height: 500px;
    padding: 0% 2% 0 0;
}
.popup-box table.data-box {
    width: 100%;
    margin: 16px auto;
    text-align: center;
    font-size: 1.6em;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ead5c2;
}
.popup-box .box-in .section1 .detailContent{
    width:670px;
    font-size:18px;
    text-align: center;
    margin-left:50px;
}
.popup-box .box-in .section1{
    margin-top:0px;
}
.popup-box .box-in .section1 .item{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 5px;
}
.popup-box .box-in .section1 p{
    font-size:20px;
}
.popup-box .box-in .section1 ul li:nth-child(2){
    margin:8px 63px;
}
.popup-box .box-in div.title,.popup-box  .box-in div.bottom{
    height:50px;
    width:100%;
    line-height: 50px;
    background:#e4f2f8;
}
.popup-box .box-in div.bottom{
    background:#f1f8fa;
}

.popup-box .box-in .section1 .detailContent ul li span{
    display: inline-block;
    font-size:20px;
    color:#e84c00;
    position:relative;
    left:-2px;
    top:-1px;
}
.popup-box .box-in div.bottom{
    text-align: left;
    padding-left:20px;
}
.popup-box .box-in .section1 .detailContent  img{
    display:inline-block;
    width:20px;
    height:20px;
    position:relative;
    top:-90px;
    left:-110px;
}
.popup-box .box-in .section1 .detailContent  img.pic{
    position:relative;
    top:-90px;
    left:108px;
}

.section3 ol li{
    font-size:16px;
    margin-top: 10px;
}
.section4 ol li{
    font-size:16px;
    line-height:2.2;
    text-align: justify;
    display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;     /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */
}
.popup-box table.data-box thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box thead th {
    font-size: 16px;
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
    background: #dcb08e;
    line-height: 1.0;
    border: 1px dotted #ccc;
}
.popup-box table.data-box thead tr {
    border: 1px dotted #ccc;
}
.popup-box table.data-box tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box tbody td {
    line-height: 1.6;
    text-align: center;
    color: #333333;
    padding: 1.44%;
    font-size: 16px;
    border: 1px dotted #ccc;
    font-family: Notol, "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
}
.popup-box table.data-box tbody .unit {
    font-size: 0.8em;
}
.popup-box table.data-box tbody tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background: #FFFFFF;
}
.popup-box table.data-box tbody tr.white {
}
.popup-box table.data-box tbody tr.last-row td {
    border-bottom: 1px solid #CCCCCC;
}
.popup-box .table1 td,
.popup-box .table2 td {
}
.popup-box .table4 td {
    width: 16%;
}
.popup-box .table3 td {
    width: 33.333333%;
}
.popup-box .close-top {
    height: 60px;
    color:  #b78255;
    border-bottom: 1px solid #b78255;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
}
.popup-box .close-top a {
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    background: url(//img.getfc.com.cn/source/www/zt/campaign1710/close.png) no-repeat;
    top: 25px;
    right: 25px;
    text-decoration: none;
}
.popup-box h2 {
    font-size:20px;
    color: #b78255;
    font-weight: bold;
    position: relative;
}
.popup-box h2.ver-line {
}
.popup-box h2.ver-line i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b78255;
    color:#fff;
    position: absolute;
    left: 0;
    top: 1px;
    text-align: center;
    line-height: 30px;
}
.popup-box .note{line-height: 30px;}
.popup-box .note span{color: #f00}
.popup-box p {
    line-height: 1.9;
    color: #333333;
    text-align: justify;
}
.popup-box p span{
    overflow: hidden;
    display: inline;
    color: #d8505a;
}
.popup-box p a{
    overflow: hidden;
    display: inline;
    color: #225b76;
    text-decoration: underline;
}