#main{overflow: hidden;width: 100%; margin: 0; padding: 0;color:#333;position: relative}
.inner{overflow: hidden;width: 1200px; margin: 0 auto; position: relative}
img{ overflow:hidden;display:block;border: none;}
.e-header .header{
    background: none;
}
.web-banner{
    width: 100%;
    height: 680px;
    background: url("//img.getfc.com.cn/source/www/zt/IST/banner-bg.jpg") no-repeat center;
    margin-top:-76px;
    position: relative;
    overflow: hidden;
}
.web-banner .layout-1{
    overflow: hidden;
    padding-top: 210px;
    margin-right: 100px;
    position: relative;
}
.web-banner .layout-1 img{margin: 0 auto}
.web-icon img{
    position: absolute;
    z-index: 1;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
}
.web-icon .ic-100{
    top: 240px;
    right: 10%;
    animation: ic-100 1s linear 1;
    -webkit-animation: ic-100 1s linear 1;
}
@keyframes ic-100{
    0% {top: 500px;right: 26%}
    100% {top:240px;right: 10%}
}
@-webkit-keyframes ic-100{
    0% {top: 500px;right: 26%}
    100% {top:240px;right: 10%}
}
.web-icon .ic-150{
    top: 400px;
    right: 17%;
    animation: ic-150 1s linear 1;
    -webkit-animation: ic-150 1s linear 1;
}
@keyframes ic-150{
    0% {top: 500px;right: 26%}
    100% {top:400px;right: 17%;}
}
@-webkit-keyframes ic-150{
    0% {top: 500px;right: 26%}
    100% {top:400px;right: 17%;}
}
.web-icon .ic-300{
    top: 489px;
    right: 25%;
    animation: ic-300 .3s linear 1;
    -webkit-animation: ic-300 .3s linear 1;
}
@keyframes ic-300{
    0% {top: 520px;right: 27%}
    100% {top:489px;right: 25%;}
}
@-webkit-keyframes ic-300{
    0% {top: 520px;right: 27%}
    100% {top:489px;right: 25%;}
}
.web-page{
    overflow: hidden;
    width: 100%;
    background: #f6f6f6;
    padding: 83px 0;
}
.web-page.bg{
    background: url("//img.getfc.com.cn/source/www/zt/IST/neiye-bg02.jpg") no-repeat;
    height: 784px;
    position: relative;
}
.web-page.bg01{
    background: url("//img.getfc.com.cn/source/www/zt/IST/neiye-bg04.jpg") no-repeat;
    height: 781px;
    padding: 95px 0 0 0;
    position: relative;
}
.web-page.bg-color{
    background: #f3f9fd;
    padding: 10px 0 68px 0;
}
.web-page.bg-color01{background: #fff}
.web-page.bg-color02{background: #f3f9fd; padding-bottom: 0;padding-top: 75px}
.web-page .con-left{
    overflow: hidden;
    width: 42%;
    float: left;
}
.web-page .con-left .item{
    overflow: hidden;
}
.web-page .con-left .item span{
    overflow: hidden;
    display: block;
    font-size: 44px;
    color: #457ba3;
    font-weight: bold;
    margin-bottom: 25px;
}
.web-page .con-left .item p{
    overflow: hidden;
    display: block;
    font-size: 16px;
    line-height: 28px;
}
.web-page .con-left .item a{
    overflow: hidden;
    display: inline;
    font-size: 16px;
    color: #ff9100;
    line-height: 28px;
    float: right;
    cursor: pointer;
}
.web-page .con-left .item-btn{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-top: 67px;
}
.web-page .con-left .item-btn a{
    overflow: hidden;
    display: block;
    width: 180px;
    height: 46px;
    font-size: 16px;
    line-height: 46px;
    background: #ff9100;
    color: #fff;
    text-align: center;
    transition:all .25s;
}
.web-page .con-left .item-btn a:hover{background: #ee8700;transition:all .25s;}
.web-page .con-left .item-btn a.chat{
    background: transparent;
    color: #ff9100;
    border: solid 2px #ff9100;
    margin-left: 45px;
}
.web-page .con-right{
    overflow: hidden;
    width: 48%;
    height: 271px;
    float: right;
    background: url("//img.getfc.com.cn/source/www/zt/IST/table-bg.jpg") no-repeat;
}
.web-page .con-right .item{
    overflow: hidden;
    float: left;
    width: 24%;
    padding-top: 27px;
    margin-left: 5%
}
.web-page .con-right .item.height{
    height: 74px;
    padding-top: 20px;
    margin-left: 0;
}
.web-page .con-right .item.width{
    width: 20%;
    margin-left: 0;
}
.web-page .con-right .item span{
    overflow: hidden;
    display: block;
    height: 65px;
    font-size: 18px;
    line-height: 65px;
    font-weight: bold;
    color: #666;
}
.web-page .con-right .item.height span{
    color: #fff;
    height: auto;
    line-height: normal;
    font-weight: normal;
    text-align: center;
}
.web-page .con-right .item.width span{
    text-align: center;
    font-size: 30px;
    color: #ff9100;
}
.web-page .con-right .item.color span{
    color: #666;
}
.web-page .con-right .item span.color{
    color: #fff;
    height: auto;
    line-height: normal;
    padding-bottom: 24px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
}
.web-page .con-right .item.marginleft span{text-align: left}
.web-page .con-right01{
    overflow: hidden;
    width: 48%;
    float: right;
}
.web-page .con-right01 .item{
    overflow: hidden;
}
.web-page .con-right01 .appear{
    animation: appear 1.5s linear 1;
    -webkit-animation:appear 1.5s linear 1;
}
@keyframes appear{
    from {width: 0}
    to {width: 628px;}
}
@-webkit-keyframes appear{
    from {width: 0}
    to {width: 628px;}
}
.web-page .title{
    overflow: hidden;
    width: 100%;
}
.web-page .title span{
    overflow: hidden;
    display: block;
    font-size: 44px;
    font-weight: bold;
    color: #457ba3;
    text-align: right;
}
.web-page .title p{
    overflow: hidden;
    display: block;
    font-size: 16px;
    line-height: 18px;
    margin-top: 18px;
    margin-bottom: 40px;
}
.web-page.bg-color span{text-align: left}
.web-page.bg01 span{color: #fff;line-height: 48px}
.web-page.bg-color02 .title p{text-align: right;margin-bottom: 0;margin-top: 10px}
.web-page .con-list{
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 40px 0 20px 0;
}
.web-page .arrow{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 16%;
    animation: arrow 1.5s linear infinite;
    -webkit-animation:arrow 1.5s linear infinite;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes arrow {
    0% { bottom: 0}
    50% { bottom: 5px}
    100% { bottom: 0}
}
@-webkit-keyframes arrow {
    0% { bottom: 0}
    50% { bottom: 5px}
    100% { bottom: 0}
}
.web-page .con-list ul{
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 87%;
    position: relative;
    z-index: 1;
}
.web-page .con-list ul li{
    overflow: hidden;
    list-style: none;
    width: 33.33332%;
    float: left;
    background: #fff;
    border: solid 2px #f6f6f6;
    height: 250px;
    cursor: pointer;
}
.web-page .con-list ul li.background{background: #f6f6f6}
.web-page .con-list ul li p{
    overflow: hidden;
    display: block;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.web-page .con-list ul li span{
    overflow: hidden;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.web-page .con-list ul li span.num{
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 34px;
    background: #009de6;
    margin-bottom: 0;
}
.web-page .con-list ul li img{margin: 30px auto 0 auto}
.web-page .con-list ul li img.margintop{margin-top: 13px}
.web-page .con-list ul li img.margintop01{margin-top: 25px}
.web-page .con-list .hover-list{
    overflow: hidden;
    width: 100%;
}
.web-page .con-list .hover-list img{
    position: absolute;
    z-index: 1;
    margin-top: 20px;
}
.web-page .con-list .hover-list .hover01{
    top: 0;
    margin-left: 32%;
    display: none;
}
.web-page .con-list .hover-list .hover02{
    top: 0;
    margin-left: 61%;
    display: none;
}
.web-page .con-list .hover-list .hover03{
    top: 0;
    margin-left: 31.5%;
    display: none;
}
.web-page .con-list .hover-list .hover04{
    margin-left: 32%;
    bottom: 0;
    display: none;
}
.web-page .con-list01{
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.web-page .con-list02{
    overflow: hidden;
    width: 100%;
    margin-top: 65px;
}
.web-page .con-list02 ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.web-page .con-list02 ul li{
    overflow: hidden;
    list-style: none;
    width: 280px;
    padding: 37px 15px 200px 15px;
    cursor: pointer;
    transition: all .25s;
}
.web-page .con-list02 ul li:hover{
    padding-top: 47px;
    transition: all .25s;
}
.web-page .con-list02 ul li.background01{background: url("//img.getfc.com.cn/source/www/zt/IST/img-bg01.jpg") no-repeat}
.web-page .con-list02 ul li.background02{background: url("//img.getfc.com.cn/source/www/zt/IST/img-bg02.jpg") no-repeat}
.web-page .con-list02 ul li.background03{background: url("//img.getfc.com.cn/source/www/zt/IST/img-bg03.jpg") no-repeat}
.web-page .con-list02 ul li.background04{background: url("//img.getfc.com.cn/source/www/zt/IST/img-bg04.jpg") no-repeat}
.web-page .con-list02 ul li p{
    overflow: hidden;
    display: block;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #fff;
    margin: 20px 0 18px 0;
}
.web-page .con-list02 ul li span{
    overflow: hidden;
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: #ffb34e
}
.web-page .con-list02 ul li span.color{color: #fff}
.web-page .con-list02 ul li span.margintop{margin-top: 45px}
.web-page .con-list02 ul li span.margintop01{margin-top: 45px}
.web-page .con-list02 ul li span.margintop02{margin-top: 70px}
.web-page .con-list03{
    overflow: hidden;
    width: 100%;
    padding: 55px 0 104px 0;
    position: relative;
}
.web-page .con-list03 ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.web-page .con-list03 ul li{
    overflow: hidden;
    list-style: none;
    width: 380px;
    height: 180px;
    background: url("//img.getfc.com.cn/source/www/zt/IST/img-bg05.png") no-repeat;
    padding: 30px 0 0 0;
    position: relative;
}
.web-page .con-list03 ul li .right-img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.web-page .con-list03 ul li span{
    overflow: hidden;
    display: block;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.web-page .con-list03 ul li span.size{
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 12px 0 -3px 0;
}
.web-page .con-list03 ul li a{
    overflow: hidden;
    display: block;
    width: 180px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 22px auto 0 auto;
    background: #ff9100;
    transition: all .25s;
}
.web-page .con-list03 ul li a:hover{
    background: #ee8700;
    transition: all .25s;
}
.web-page .con-list03 ul li img{margin: 0 auto}
.web-page .con-list03 ul li .item{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.web-page .con-list03 ul li .item img{margin: 0 10px;cursor: pointer}
.web-page .con-list03 ul li .item a{width: auto;height: auto;margin: 0;background: transparent}
.web-page .con-list03 .code{
    overflow: hidden;
    width: 100%;
}
.web-page .con-list03 .code .code-ios{
    position: absolute;
    right: 175px;
    bottom: 5px;
    display: none;
}
.web-page .con-list03 .code .code-android{
    right: 130px;
    bottom: 5px;
    position: absolute;
    display: none;
}
.footer-dot{
    overflow: hidden;
    width: 100%;
    //margin-top: 200px;
}
/*弹窗*/
.popup-box {
    max-width: 1000px;
    height: 650px;
    position: fixed;
    left: 0;
    right: 0;
    margin: -325px auto 0 auto;
    top: 50%;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 0 10px #ccc;
}
.popup-box .box-in {
    margin: 3% 3% 5% 5%;
    color: #333333;
    overflow: auto;
    height: 510px;
}
.popup-box table.data-box {
    width: 92%;
    margin: 16px auto 10px;
    text-align: center;
    border: 0 !important;
    font-size: 1.6em;
    border-collapse: collapse;
    border-spacing: 0;
}
.popup-box .section1 ul li{
    float:left;
    font-size:18px;
}
.popup-box .section2 ul li{
    font-size:18px;
}
.popup-box .section2 ol li{
    font-size: 16px;
}
.popup-box .section2 ol li i{
    margin-left: 20px;
    font-weight: bold;
}
.popup-box .section4 ol li{
    font-size:16px;
    line-height:1.9;
    padding-left: 35px;
    width: 96%;
}
.popup-box table.data-box thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box thead th {
    font-size: 16px;
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
    background: #0096DB;
    line-height: 1.0;
}
.popup-box table.data-box thead tr {
    border: 1px solid #0096DB;
}
.popup-box table.data-box tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box tbody td {
    line-height: 1.0;
    text-align: center;
    color: #333333;
    padding: 1.44%;
    font-size: 16px;
    border: 1px solid #CCC;
}
.popup-box table.data-box tbody tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background: #FFFFFF;
}
.popup-box table.data-box .first-child {
    text-align: center;
    font-size: 16px;
}
.popup-box table.data-box .first-child a {
    color: #666666;
}
.popup-box .table1 td,
.popup-box .table2 td {
    width: 25%;
}
.popup-box .table3 td {
    width: 33.333333%;
}
.popup-box .close-top {
    background: #035B83;
    height: 70px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
    font-weight: bold;
}
.popup-box .close-top a {
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    background: url(//img.getfc.com.cn/source/www/zt/IST/close.png) no-repeat;
    background-size: 100% 100%;
    top: 25px;
    right: 25px;
}
.popup-box h2 {
    font-size:24px;
    margin: 30px 0 18px;
    color: #035B83;
    position: relative;
}
.popup-box h2.ver-line {
    padding-left: 35px;
}
.popup-box h2.ver-line i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    background: #035B83;
    color:#fff;
    position: absolute;
    left: 0;
    text-align: center;
    margin-right: 10px;
}
.popup-box p {
    width: 96%;
    font-size: 16px;
    line-height: 1.9;
    color: #333333;
    padding-left:35px;
    text-align: justify;
}
@media (max-width: 1680px){
    .web-icon .ic-100{right: 8%}
    @keyframes ic-100{
        0% {top: 500px;right: 21%}
        100% {top:240px;right: 8%}
    }
    @-webkit-keyframes ic-100{
        0% {top: 500px;right: 21%}
        100% {top:240px;right: 8%}
    }
    .web-icon .ic-150{right: 12%}
    @keyframes ic-150{
        0% {top: 500px;right: 21%}
        100% {top: 400px;right: 12%}
    }
    @-webkit-keyframes ic-150{
        0% {top: 500px;right: 21%}
        100% {top: 489px;right: 12%}
    }
    .web-icon .ic-300{right: 20%}
    @keyframes ic-300{
        0% {top: 500px;right: 21%}
        100% {top: 489px;right: 20%}
    }
    @-webkit-keyframes ic-300{
        0% {top: 500px;right: 22%}
        100% {top: 489px;right: 20%}
    }
    .web-page .arrow{right: 11%}
}
@media (max-width: 1440px){
    .web-icon .ic-100{right: 4%}
    @keyframes ic-100{
        0% {top: 500px;right: 23%}
        100% {top:240px;right: 4%}
    }
    @-webkit-keyframes ic-100{
        0% {top: 500px;right: 23%}
        100% {top:240px;right: 4%}
    }
    .web-icon .ic-150{right: 10%}
    @keyframes ic-150{
        0% {top: 500px;right: 23%}
        100% {top: 400px;right: 10%}
    }
    @-webkit-keyframes ic-150{
        0% {top: 500px;right: 23%}
        100% {top: 489px;right: 10%}
    }
    .web-icon .ic-300{right: 22%}
    @keyframes ic-300{
        0% {top: 500px;right: 23%}
        100% {top: 489px;right: 22%}
    }
    @-webkit-keyframes ic-300{
        0% {top: 500px;right: 24%}
        100% {top: 489px;right: 22%}
    }
    .web-page .arrow{right: 5%}
}
@media (width: 1280px){
    .inner{width: 1000px}
    .web-icon .ic-100{display: none}
    .web-icon .ic-150{display: none}
    .web-icon .ic-300{display: none}
    .web-page .con-right{background-size: 100% 100%}
    .web-page .arrow{right: 3%}
    .web-page .con-list02 ul li{width: 240px;}
    .web-page .con-list03 ul li{width: 320px;background-size: 100% 100%}
}

