#main{overflow: hidden;width: 100%; margin: 0; padding: 0; color: #333}
.inner{overflow: hidden;width: 1200px; margin: 0 auto; position: relative}
img{ overflow:hidden;display:block;border: none;}
.e-header .header{
    background: none;
}
.web-banner{
    width: 100%;
    height: 750px;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1807/banner-bg.jpg") no-repeat center;
    margin-top:-76px;
    position: relative;
    overflow: hidden;
}
.web-banner .layout-1{
    overflow: hidden;
    padding: 170px 0 335px;
    margin-left: 160px;
    position: relative;
    float: left;
    z-index: 2;
}
.web-icon img{
    position: absolute;
    z-index: 1;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
}
.web-icon .ic-100{
    bottom: 0;
    left: 10px;
    animation: ic-100 .5s linear 1;
    -webkit-animation: ic-100 .5s linear 1;
}
@keyframes ic-100{
    0% {bottom: -100px;left: -110px;}
    100% {bottom: 0;;left: 10px;}
}
@-webkit-keyframes ic-100{
    0% {bottom: -100px;left: -110px;}
    100% {bottom: 0;;left: 10px;}
}
.web-icon .ic-150{
    bottom: 40px;
    left: 240px;
    animation: ic-150 .5s linear 1;
    -webkit-animation: ic-150 .5s linear 1;
}
@keyframes ic-150{
    0% {bottom: -100px;left: 90px;}
    100% {bottom: 40px;;left: 240px;}
}
@-webkit-keyframes ic-150{
    0% {bottom: -100px;left: 90px;}
    100% {bottom: 40px;;left: 240px;}
}
.web-icon .ic-300{
    bottom: 70px;
    left: 460px;
    animation: ic-300 .5s linear 1;
    -webkit-animation: ic-300 .5s linear 1;
}
@keyframes ic-300{
    0% {bottom: -100px;left: 270px;}
    100% {bottom: 70px;;left: 460px;}
}
@-webkit-keyframes ic-300{
    0% {bottom: -100px;left: 270px;}
    100% {bottom: 70px;;left: 460px;}
}
.web-page{
    overflow: hidden;
    padding: 88px 0 25px 0;
    position: relative;
}
.web-page.bg-color{background: #f6f6f6;margin-top: 80px;padding-bottom: 56px}
.web-page.bg-color01{background: #fffcf8;padding-bottom: 56px}
.web-page .title{overflow: hidden;}
.web-page .title img{margin: 68px auto 0 auto;position: relative;z-index: 1}
.web-page .title span{
    overflow: hidden;
    display: block;
    font-weight: bold;
    font-size: 44px;
    text-align: center;
    margin-bottom: 12px;
}
.web-page .title p{
    overflow: hidden;
    display: block;
    text-align: center;
    font-size: 16px;
    color: #666;
    font-weight: normal;
}
.web-page .title p span{
    display: inline;
    font-size: 16px;
    color: #dda839;
    width: auto;
    height: auto;
    line-height: normal;
    font-weight: normal;
    padding-left: 0;
}
.web-page .title a{
    overflow: hidden;
    display: block;
    color: #0664ac;
    font-size: 14px;
    text-align: center;
    width: 110px;
    height: 36px;
    line-height: 36px;
    margin: 30px auto 25px auto;
    border: solid 1px #0664ac;
    cursor: pointer;
    text-decoration: none;
}
.web-page .title a:hover{background: #0664ac;color: #fff}
.web-page .con{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 29px;
}
.web-page .con01{
    overflow: hidden;
    width: 100%;
}
.web-page .con .left-slider{
    overflow: hidden;
    width: 876px;
    position: relative;
    margin: 63px 2px 0 0;
}
.web-page .con .left-slider .slider ul li{
    float: left;
    margin: 0 23px;
    cursor: pointer;
}
.web-page .con .list{
    overflow: hidden;
    width: 230px;
    height: 480px;
    border: solid 1px #eee;
    position: relative;
}
.web-page .con .list:hover{background: #fffcf8;}
.web-page .con .list.width{
    width: 320px;
    height: 583px;
    background: #fffcf8;
}
.web-page .con .list .item{
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    padding-top: 35px;
}
.web-page .con .list .item span{
    overflow: hidden;
    display: block;
    margin-top: 185px;
    text-align: right;
    padding-right: 52px;
    position: relative;
    z-index: 1;
}
.web-page .con .list.width .item span{margin-top: 195px;padding-right: 80px}
.web-page .con .list .item img{
    margin-left: 25px;
    position: absolute;
}
.web-page .con .list.width .item img{margin-left: 60px}
.web-page .con .list:hover .item img{
    animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
}
@keyframes rotation{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-15deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(15deg);}
    100% {transform: rotate(0deg);}
}
@-webkit-keyframes rotation{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-15deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(15deg);}
    100% {transform: rotate(0deg);}
}
.web-page .con .list .item01{
    overflow: hidden;
    margin: 35px auto 0 auto;
    display: flex;
    justify-content: center;
}
.web-page .con .list .item01 span{
    overflow: hidden;
    display: block;
    font-size: 24px;
    margin: 15px 7px 0 0;
}
.web-page .con .list .item01 span.size {
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
}
.web-page .con .list .item02{
    overflow: hidden;
}
.web-page .con .list .item02 span{
    overflow: hidden;
    display: block;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.web-page .con .list .item02 span.bold{font-weight: bold}
.web-page .con .list .item02 span.color{color: #666;margin-top: 15px}
.web-page .con .list .item02.lineheight span{line-height: 19px}
.web-page .con .list .item03{
    overflow: hidden;
    position: absolute;
}
.web-page .rank{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.web-page .rank .rank-list{
    overflow: hidden;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1807/left.png") no-repeat center;
    height: 373px;
    width: 50%;
}
.web-page .rank .rank-list ul{
    overflow:hidden;
    width: 96%;
    margin: 0 auto;
}
.web-page .rank .rank-list ul li{
    overflow:hidden;
    list-style: none;
    float: left;
    width: 33.333%;
    padding-top: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.web-page .rank .rank-list ul li span{
    overflow: hidden;
    display: block;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.web-page .rank .rank-list ul li span:nth-child(2){margin-bottom: 50px}
.web-page .rank .rank-list ul li span.size{
    font-weight: bold;
    font-size: 20px;
}
.web-page .bet-con{
    overflow: hidden;
    width: 44%;
    padding: 0 0 23px 0;
    position: relative;
    display: flex;
    justify-content: center;
}
.web-page .bet-con .layout{
    overflow: hidden;
    background: #fffcf8;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    border: solid 1px #eee;
}
.web-page .bet-con .list-title{
    overflow: hidden;
    width: 98%;
    margin: 33px auto 0 auto;
}
.web-page .bet-con .list-title span{
    overflow: hidden;
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.web-page .bet-con .list-title p{
    overflow: hidden;
    display: block;
    font-size: 16px;
    color: #dda839;
    margin: 5px 0 30px 0;
}
.web-page .bet-con .list{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 25px 21%;
    height: 54px;
}
.web-page .bet-con .list.width{
    width: 127px;
}
.web-page .bet-con .list.marginleft{margin-left: 0;display: block}
.web-page .bet-con .list .item{
    overflow: hidden;
    font-size: 18px;
    margin-right: 24px;
}
.web-page .bet-con .list .item01{
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    width: 98%;
    margin: 0 auto;
}
.web-page .bet-con .list .item01 span{
    overflow: hidden;
    display: inline;
    margin-right: 20px;
}
.web-page .bet-con .list .check{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}
.web-page .bet-con .list .check p{margin-left: 9px}
.web-page .bet-con .list .check a{
    overflow: hidden;
    display: block;
    width: 234px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1807/btn-bg.png") no-repeat;
    padding-right: 35px;
}
.web-page .bet-con .list .check:hover a{color: #dda839}
.web-page .bet-con .hide-infor{
    overflow: hidden;
    text-align: center;
    color: #f00;
    font-size: 16px;
    position: absolute;
    bottom: 60px;
    display: none;
}
.web-page .bet-con .submit{
    overflow: hidden;
    border: solid 1px #0664ac;
    width: 260px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}
.web-page .bet-con .submit a {
    overflow: hidden;
    display: block;
    color: #0664ac;
    line-height: 50px;
    font-size: 18px;
}
.web-page .bet-con .submit span{
    overflow: hidden;
    display: block;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1807/ball-03.png") no-repeat;
    width: 34px;
    height: 34px;
    margin: 0 25px;
    animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
    -o-animation: rotate 2s linear infinite;
}
@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.web-page .bet-con .submit:hover{background: #0664ac}
.web-page .bet-con .submit:hover a{color: #fff}
.web-page .bet-con .submit:hover span{background: url("//img.getfc.com.cn/source/www/zt/campaign1807/ball-03-hover.png") no-repeat;}
.web-page .bet-hide{
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    padding-bottom: 22px;
    display: none;
}
.web-page .bet-hide ul{
    overflow: hidden;
    display: block;
    margin: 0;
    list-style: none;
    height: 451px;
    border: solid 1px #eee;
    background: #fffcf8;
    padding: 21px 5px;
}
.web-page .bet-hide ul li{
    overflow: hidden;
    width: 25%;
    height: 41px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    padding-left: 1%;
    border: solid 2px transparent;
}
.web-page .bet-hide ul li.checked{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1807/check-bg.png") no-repeat top right;
    border: solid 2px #0664ac;
}
.web-page .bet-hide ul li:hover {
    background: url("//img.getfc.com.cn/source/www/zt/campaign1807/check-bg.png") no-repeat top right;
    border: solid 2px #0664ac;
}
.web-page .bet-hide ul li span{margin-right: 5px}
.web-page .bet-hide .btn-list{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}
.web-page .bet-hide .btn-list a{
    overflow: hidden;
    display: block;
    width: 160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin: 0 13px;
    font-size: 18px;
    cursor: pointer;
}
.web-page .bet-hide .btn-list a.yes{background: #0664ac}
.web-page .bet-hide .btn-list a.no{background: #999}
.flag-03 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -63px -10px;
}
.flag-04 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -222px -10px;
}
.flag-05 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -10px -63px;
}
.flag-06 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -63px -63px;
}
.flag-08 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -116px -10px;
}
.flag-09 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -116px -63px;
}
.flag-10 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -10px -116px;
}
.flag-11 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -63px -116px;
}
.flag-12 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -116px -116px;
}
.flag-13 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -169px -10px;
}
.flag-14 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -169px -63px;
}
.flag-15 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -169px -116px;
}
.flag-16 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -10px -169px;
}
.flag-17 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -63px -169px;
}
.flag-18 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -116px -169px;
}
.flag-19 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -169px -169px;
}
.flag-20 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -10px -10px;
}

.flag-21 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -222px -63px;
}
.flag-22 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -222px -116px;
}
.flag-23 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -222px -169px;
}
.flag-24 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -10px -222px;
}
.flag-25 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -63px -222px;
}
.flag-26 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -116px -222px;
}
.flag-27 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -169px -222px;
}
.flag-28 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -222px -222px;
}
.flag-29 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -275px -10px;
}

.flag-30 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -275px -63px;
}
.flag-31 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -275px -116px;
}
.flag-32 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -275px -169px;
}
.flag-33 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -275px -222px;
}
.flag-34 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -10px -275px;
}
.flag-35 {
    width: 33px;
    height: 33px;
    background: url('//img.getfc.com.cn/source/www/zt/campaign1807/flag.png') -63px -275px;
}
.web-page .bet-tc{
    overflow: hidden;
    width: 100%;
    height: 450px;
    background: rgba(0,0,0,.8);
    position: absolute;
    z-index: 2;
    top: 0;
    color: #fff;
    display: none;
}
.web-page .bet-tc .tc-close{
    float: right;
    margin: 13px 13px 0 0;
    cursor: pointer;
}
.web-page .bet-tc .tc-suc{
    margin: 93px auto 40px auto;
}
.web-page .bet-tc span{
    overflow: hidden;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.web-page .bet-tc p{
    overflow: hidden;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    width: 90%;
    margin: 0 auto;
}
.web-page .bet-tc .num{font-size: 14px;color: #f8bf33;display: inline}
.web-page .bet-tc01{
    overflow: hidden;
    width: 100%;
    height: 450px;
    background: rgba(0,0,0,.8);
    position: absolute;
    z-index: 2;
    top: 0;
    color: #fff;
    display: none;
}
.web-page .bet-tc01 .item{
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    margin: 90px 0 0 0;
}
.web-page .bet-tc01 .item img{
    margin: 0 auto 40px auto;
}
.web-page .bet-tc01 .item01{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 38px 0 64px 0;
}
.web-page .bet-tc01 .item01 a{
    overflow: hidden;
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    margin: 0 14px;
    color: #333;
    cursor: pointer;
}
.web-page .bet-tc01 .item01 a.re-y{
    background: #fff;
}
.web-page .bet-tc01 .item01 a.re-n{
    background: #999;
}
.web-page .bet-tc01 .item02{
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    width: 98%;
    margin: 0 auto;
}
.web-page .bet-tc01 .item02 span{
    overflow: hidden;
    display: inline;
    margin-right: 20px;
}
.web-page .bet-more{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    cursor: pointer;
}
.web-page .bet-more a{
    overflow: hidden;
    display: block;
    text-align: center;
    font-size: 24px;
    margin-right: 46px;
}
.web-page .bet-more span{
    overflow: hidden;
    display: block;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1807/arrow-bottom.png") no-repeat;
    width: 32px;
    height: 17px;
}
.web-page .bet-more span.to_top{background: url("//img.getfc.com.cn/source/www/zt/campaign1807/arrow-top.png") no-repeat;}
.web-page .more-hide{
    overflow: hidden;
    width: 100%;
    background: #fafafa;
    margin-top: 49px;
}
.web-page .more-hide .hide-con{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 600px;
    margin-bottom: 28px;
    display: none;
}
.web-page .more-hide .layout{
    overflow: hidden;
}
.web-page .more-hide .list{
    overflow: hidden;
    width: 39%;
    float: left;
    margin-top: 40px;
    margin-left: 2.5%;
    border: solid 1px #eee;
}
.web-page .more-hide .list.width{width: 55%;float: right;border: none}
.web-page .more-hide .list.width01{width: 96%}
.web-page .more-hide .list .tab-title{
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    background: #ffefd9;
}
.web-page .more-hide .list .tab-con{
    overflow: hidden;
}
.web-page .more-hide .list .tab-con ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
.web-page .more-hide .list .tab-con ul li{
    overflow: hidden;
    width: 99.5%;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #eee;
    padding: 10px 10% 10px 10%;
    margin: 0 auto;
    color: #666;
    background: #fff;
}
.web-page .more-hide .list .tab-con ul li:first-child{background: #fffcf8}
.web-page .more-hide .list .tab-con ul li span{
    overflow: hidden;
    display: block;
    font-size: 16px;
    color: #666;
}
.web-page .more-hide .list .tab-con ul li span.center{text-align: center;padding-right: 25%}
.web-page .more-hide .list .tab-con ul li:first-child span{font-weight: bold;color: #333}
.web-page .more-hide .list .tab-con ul li span:first-child{width: 60%}
.web-page .more-hide .list .tab-con ul li span:last-child{width: 35%;text-align: center}
.web-page .more-hide .list .tab-con ul li span.color{color: #ff7c00;display: inline}
.web-page .more-hide .list .tab-con .tit-span{
    overflow: hidden;
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.web-page .more-hide .list .tab-con p{
    overflow: hidden;
    display: block;
    width: 98%;
    color: #666;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
}
.web-page .more-hide .list table{
    overflow: hidden;
    width: 100%;
}
.web-page .more-hide .list table tr{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    border-top: solid 1px #eee;
    background: #fff;
    cursor: pointer;
}
.web-page .more-hide .list table tr.nth{
    background: #fffcf8;
    height: 40px;
}
.web-page .more-hide .list table tr:hover{background: #f3f3f3;}
.web-page .more-hide .list table tr td{
    overflow: hidden;
    font-size: 16px;
    color: #666;
    width: 16.6666%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.web-page .more-hide .list table tr td span{margin: 0 5px}
.web-page .more-hide .list table tr td img{
    margin-right: 15px;
}
.web-page .more-hide .list table tr td.align{
    justify-content: flex-start;
    margin-left: 4%;
    width: 12.6666%;
}
.web-page .more-hide .list table tr td.align01{
    justify-content: flex-end;
    margin-right: 4%;
    width: 12.6666%;
}
.web-page .more-hide .list table tr td.align01 img{margin-left: 15px;margin-right: 0}
.web-page .con-list{
    overflow: hidden;
    margin-top: 65px;
}
.web-page .con-list ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-page .con-list ul li{
    overflow: hidden;
    padding: 0;
    list-style: none;
    width: 267px;
    height: 393px;
    background: #fff;
    margin: 27px 18px 0 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.web-page .con-list ul li.hover{
    height: 469px;
    margin-top: 0;
}
.web-page .con-list ul li span{
    overflow: hidden;
    display: block;
    font-size: 20px;
    text-align: center;
}
.web-page .con-list ul li a{
    overflow: hidden;
    display: block;
    width: 127px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border: solid 1px #0664ac;
    color: #0664ac;
    font-size: 16px;
    border-radius: 4px;
}
.web-page .con-list ul li a:hover{
    background: #0664ac;
    color: #fff;
}
.web-page .con-list ul li .item{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 45px;
}
.web-page .con-list ul li .item .yellow{color: #dda839}
.web-page .con-list ul li .item img{margin: 0 5px}
.web-page .con-list ul li .item01{
    height: 149px;
    background: #3c9ad8;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    position: relative;
    margin-bottom: 60px;
}
.web-page .con-list ul li .item01.color{background: #116fb7;margin-bottom: 43px}
.web-page .con-list ul li .item01.color01{background: #0b4c96;margin-bottom: 38px}
.web-page .con-list ul li.hover .item01{height: 200px;}
.web-page .con-list ul li .item01 span{color: #fff;font-size: 18px;}
.web-page .con-list ul li .item01 img{
    position: absolute;
    bottom: -12px;
    margin: 0;
}
.web-page .con-list ul li .item01.color01 img{bottom: -32px}
.web-page .con-list01{
    overflow: hidden;
    margin-top: 45px;
    position: relative;
    display: none;
}
.web-page .con-list01 .list-title{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    position: relative;
    z-index: 1;
    margin-bottom: 65px;
}
.web-page .con-list01 .list-title img{margin: 0 46px 0 35px}
.web-page .con-list01 .list-con{
    overflow: hidden;
    width: 100%;
    background: #f6f6f6;
    position: absolute;
    top: 75px;
    height: 250px;
    padding-top: 28px;
}
.web-page .con-list01 .list-con span{
    overflow: hidden;
    display: block;
    font-size: 20px;
    line-height: 34px;
    margin-left: 340px;
    font-weight: bold;
}
.web-page .con-list01 .list-con span.color{color: #dda839}
.web-page .con-list01 .list-con p{
    overflow: hidden;
    display: block;
    font-size: 16px;
    line-height: 28px;
    margin-left: 340px;
    margin-top: 40px;
    width: 64%;
}
.web-page .list-nav{
    overflow: hidden;
}
.web-page .list-nav ul{
    overflow: hidden;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.web-page .list-nav ul li{
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    cursor: pointer;
}
.web-page .list-nav ul li img{width: 32%;margin-bottom: 10px}
.web-page .list-nav ul li a{
    overflow: hidden;
    display: block;
    color: #666;
    font-size: 16px;
}
.web-page .list-nav ul li span{
    overflow: hidden;
    width: 0;
    height: 0;
    border-top: 22px solid #f6f6f6;
    border-right: 22px solid rgba(0,0,0,0);
    border-bottom: 15px solid rgba(0,0,0,0);
    border-left: 22px solid rgba(0,0,0,0);
    visibility: hidden;
}
.web-page .list-nav ul li span.check-arrow{visibility: visible}
.web-page .con-list02{
    overflow: hidden;
    margin: 40px 0 30px 0;
}
.web-page .con-list02 p{
    overflow: hidden;
    display: block;
    font-size: 16px;
    line-height: 36px;
}
.web-page .con-list03{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #dda839;
    font-weight: bold;
}
.web-page .con-list03 span{
    overflow: hidden;
    display: block;
    margin: 0 10px;
    color: #dda839;
    text-align: center;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    -webkit-transform:skew(-20deg);
    -moz-transform:skew(-20deg);
    -o-transform:skew(-20deg);
    -ms-transform:skew(-20deg);
    transform:skew(-20deg);
}
.web-page .con-list03 span.ntn-01{
    width: 170px;
    border: solid 2px #dda839;
}
.web-page .con-list03 span.ntn-02{
    width: 210px;
    border: solid 2px #dda839;
}
.web-page .con-list03 span.ntn-03{
    width: 130px;
    background:  #dda839;
    color: #fff;
}
.hd {
    overflow: hidden;
    position: absolute;
    top:40%;
    z-index: 11;
    width: 100%;
}
.hd .prev,.hd .next {
    overflow: hidden;
    display: block;
    text-align: center;
    cursor: pointer;
    background: url("//img.getfc.com.cn/source/www/zt/campaign1807/arrow-left.png") no-repeat;
    width: 36px;
    height: 67px;
    float: left;
}
.hd .next{
    background: url("//img.getfc.com.cn/source/www/zt/campaign1807/arrow-right.png") no-repeat;
    float: right;
}
.web-brand .title span{color: #333;font-weight: bold}
/*弹窗*/
.popup-box {
    max-width: 1000px;
    height: 650px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    margin-top: -325px;
    background: #fff;
    z-index: 99999;
    font-family: "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.popup-box .box-in {
    margin: 3% 3% 5% 5%;
    color: #333333;
    overflow: auto;
    height: 500px;
    padding: 0% 2% 0 0;
}
.popup-box table.data-box {
    width: 100%;
    margin: 16px auto 25px;
    text-align: center;
    border: 0 !important;
    font-size: 1.6em;
    border-collapse: collapse;
    border-spacing: 0;
}
.popup-box  .box-in .section1 .detailContent{
    width:670px;
    font-size:18px;
    text-align: center;
    margin-left:50px;
}
.popup-box  .box-in .section1{
    margin-top:0px;
}
.popup-box  .box-in .section1 p{
    font-size:16px;
}
.popup-box  .box-in .section1 ul li:nth-child(2){
    margin:8px 63px;
}
.popup-box  .box-in div.title,.popup-box  .box-in div.bottom{
    height:50px;
    width:100%;
    line-height: 50px;
    background:#e4f2f8;
}
.popup-box  .box-in div.bottom{
    background:#f1f8fa;
}

.popup-box  .box-in .section1 .detailContent ul li span{
    display: inline-block;
    font-size:20px;
    color:#e84c00;
    position:relative;
    left:-2px;
    top:-1px;
}
.popup-box  .box-in div.bottom{
    text-align: left;
    padding-left:20px;
}
.popup-box  .box-in .section1 .detailContent  img{
    display:inline-block;
    width:20px;
    height:20px;
    position:relative;
    top:-90px;
    left:-110px;
}
.popup-box  .box-in .section1 .detailContent  img.pic{
    position:relative;
    top:-90px;
    left:108px;
}

.section3 ol li{
    font-size:16px;
}
.section4 ol li{
    font-size:16px;
    line-height:2.2;
    text-align: justify;
    display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;     /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */
}
.popup-box table.data-box thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box thead th {
    font-size: 16px;
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
    background: #dcb08e;
    line-height: 1.0;
}
.popup-box table.data-box thead tr {
    border: 1px solid #dcb08e;
}
.popup-box table.data-box tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box tbody td {
    line-height: 1.2;
    text-align: center;
    color: #333333;
    padding: 1.44%;
    font-size: 16px;
    border: 0.025rem solid #ead5c2;
    font-family: Notol, "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
}
.popup-box table.data-box tbody .unit {
    font-size: 0.8em;
}
.popup-box table.data-box tbody tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background: #FFFFFF;
}
.popup-box table.data-box tbody tr.white {
//background: #f7efe8;
}
.popup-box table.data-box tbody tr.last-row td {
    border-bottom: 1px solid #CCCCCC;
}
.popup-box .table1 td,
.popup-box .table2 td {
//width: 25%;
}
.popup-box .table4 td {
    width: 16%;
}
.popup-box .table3 td {
    width: 33.333333%;
}
.popup-box .close-top {
    height: 60px;
    color:  #b78255;
    border-bottom: 1px solid #b78255;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
}
.popup-box .close-top a {
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    background: url(//img.getfc.com.cn/source/www/zt/campaign1710/close.png) no-repeat;
    top: 25px;
    right: 25px;
    text-decoration: none;
}
.popup-box h2 {
    font-size:24px;
    margin: 38px 0 18px;
    color: #b78255
;
    position: relative;
}
.popup-box h2.ver-line {
    padding-left: 45px;
}
.popup-box h2.ver-line i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b78255;
    color:#fff;
    position: absolute;
    left: 0;
    top: -3px;
    text-align: center;
    line-height: 30px;
}
.popup-box .note{line-height: 30px;}
.popup-box .note span{color: #f00}
.popup-box p {
    line-height: 1.9;
    color: #333333;
    text-align: justify;
}
.popup-box p span{
    overflow: hidden;
    display: inline;
    color: #d8505a;
}
.popup-box p a{
    overflow: hidden;
    display: inline;
    color: #225b76;
    text-decoration: underline;
}
@media screen and (max-width: 1200px) {
    .inner {
        width: 80%
    }
    .web-page .rank .rank-list{background-size: 100% 100%}
}
@media screen and (max-width: 1400px) {
    .inner {
        width: 1000px;
    }
    .web-page .rank .rank-list{background-size: 100% 100%}
    .web-page .con .list{width: 200px;}
    .web-page .con .list.width{width: 280px}
    .web-page .con .list .item img{width: 80%;}
    .web-page .con .list.width .item img{width: 70%}
    .web-page .con .list .item span{margin-top: 80%;padding-right: 24px}
    .web-page .con .list.width .item span{margin-top: 70%;padding-right: 50px}
    .web-page .con .left-slider .slider ul li{margin: 0 15px}
    .web-page .more-hide .hide-con{height: 400px}
    .web-page .bet-con .list{margin-bottom: 17px}
}


