@charset "utf-8";
/* ----------css reset---------- */
/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

input,
textarea {
    border: 0 none;
    box-shadow: none;
    outline: none;
}

/* 设置默认字体 */
body,
button,
input,
select,
textarea {
    font: 12px/1.42858 "微软雅黑", "Microsoft Yahei", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Microsoft Yahei";
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4,
h5,
h6 {
    font-size: 100%;
}
/*去除低版本IE图片边框*/
img{
    border-style: none;
}

/* 斜体扶正 */
address,
cite,
dfn,
em,
i,
var {
    font-style: normal;
}

/* 重置列表元素 */
ul,
ol {
    list-style: none;
}

/* 重置文本格式元素 */
a {
    text-decoration: none;
}

/* 重置表单元素 */
legend {
    color: #000;
}

/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
    font-size: 100%;
    /* 使表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
    overflow-y: scroll;
}

input,
textarea {
    -webkit-appearance: none;
}

/*清除浮动*/
.clearfix {
    *zoom: 1;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* ----------css reset end---------- */

/*背景色*/
body{
    background-color: #e8e8e8;
}
/*容器宽度*/
.content {
    margin: 0 auto;
    padding: 0 81px;
    width: 990px;
}

/*半透明背景*/
.main-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

/*标题1*/
.tit1{
    font-size: 30px;
    color: #225578;
    text-align: center;
    line-height: 72px;
    background: url("../images/common/tit-bg.png") no-repeat center center;
}
.tit1 b{
    font-size: 36px;
}

/* 头部 */
.header {
    position: relative;
    z-index: 10;
    width: 100%;
}
.header .header-section{
    background: #fff;
    padding: 0 31px 0 61px;
    width: 1060px;
}

.header img {
    display: block;
    padding: 0;
}

.header .header-bg {
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 30px;
    background: url("../images/common/header-bg.png") no-repeat center 0;
}

.header .header-right {
    float: right;
    font-size: 0;
    line-height: 78px;
}

.header .header-right ul{
    height: 78px;
    line-height: 78px;
}

.header .header-right li{
    position: relative;
    display: inline-block;
    padding: 0 13px;
    font-size: 16px;
}
.header .header-right li:hover .header-nav{
    display: block;
}
.header .header-right li.no-padding{
    padding: 0;
    font-size: 14px;
    color: #ccc;
}
.header-right li > a{
    color: #292929;
}
.header-right li:last-child > a{
    border: 2px solid #225578;
    padding: 2px 8px;
    border-radius: 5px;
	color:#225578;
}
.header-right li:last-child > a:hover{
    background-color:#3c8ba4;
	color:#ffffff;
	border:2px solid #3c8ba4;
}

.header-right li .btn-blue{
	background-color:#225578;
	border-radius:5px;
	padding:2px 8px;
	color:#ffffff;
	
}
.header-right li .btn-blue:hover{
	background-color:#3c8ba4;
	color:#ffffff;
	
}
.header-nav{
    display: none;

    position: absolute;
    left: 0;
    z-index: 5;
    width: 100%;
    box-shadow: 0 0 6px #ccc;
    background: #fff;
    background-color: rgba(255,255,255,.85);
}
.header-nav a{
    display: block;
    width: 100%;
    font-size: 14px;
    color: #292929;
    text-align: center;
    line-height: 40px;
}
.header-nav a:hover{
    color: #fff;
    background-color: #225578;
}
.header-nav a.little{
    padding: 3px 0;
    line-height: 24px;
}
.header-nav h3{
    position: relative;
    margin-bottom: 10px;
    padding-left: 24%;
    font-size: 16px;
    font-weight: normal;
    color: #225578;
    line-height: 40px;
}
.header-nav h3:before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 117px;
    height: 2px;
    background: #225578;
}

.header-nav-box{
    width: 372px;
}
.header-nav-box a{
    padding-left: 24%;
    width: 76%;
    font-size: 14px;
    text-align: left;
    line-height: 30px;
    word-spacing: 10px;
}
.header-nav-left{
    float: left;
    width: 186px;
    border-right: 1px solid #ccc;
}
.header-nav-right{
    margin-left: 186px;
    width: 186px;
}


/* 头部样式结束 */

/* 底部 */
.footer {
    position: relative;
    padding-top: 35px;
    height: 340px;
    background-color: #e2e2e2!important;
}

.footer .backtop {
    position: absolute;
    top: -28px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 28px;
    background: url("//img.getfc.com.cn/source/www/template/common/backtop.png") no-repeat;
}

.footer .footer-top {
    margin-bottom: 35px;
    font-size: 0;
}

.footer .footer-top span {
    font-size: 16px;
    color: #292929;
    line-height: 38px;
    vertical-align: top;
}
.footer .footer-top img{
    float: right;
    display: block;
}

.footer p {
    margin-top: 20px;
    font-size: 14px;
    color: #7c7c7c;
    line-height: 1.6;
}

.footer-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 7px 0;
    height: 47px;
    line-height: 34px;
}
.footer-bottom .main-bg{
    background-color: #999;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.footer-bottom .content{
    position: relative;
    z-index: 1;
    padding: 0;
}
.footer-bottom em{
    display: inline-block;
    margin-right: 60px;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    vertical-align: middle;
}
.footer-bottom em a{
    display: inline-block;
    width: 24px;
    height: 23px;
    vertical-align: middle;
}
.footer-bottom em i{
    display: inline-block;
    margin-right: 9px;
    width: 24px;
    height: 23px;
    vertical-align: top;
}
.footer-bottom em i.footer-pho{
    background: url("//img.getfc.com.cn/source/www/template/common/iconbox.png") no-repeat -34px -239px;
}
.footer-bottom em i.footer-email{
    background: url("//img.getfc.com.cn/source/www/template/common/iconbox.png") no-repeat 0 -238px;
}

.footer-btn{
    display: inline-block;
    margin-right: 60px;
    width: 250px;
    font-size: 0;
    vertical-align: top;
}
.footer-btn a{
    display: inline-block;
    width: 115px;
    height: 100%;
    font-size: 14px;
    color: #225578;
    text-align: center;
    line-height: 34px;
    vertical-align: top;
    border-radius: 20px;
    background-color: #fff;
}
.footer-btn a:hover{
    color: #fff;
    background-color: #e99c26;
}
.footer-btn a i{
    display: inline-block;
    width: 23px;
    height: 22px;
    vertical-align: middle;
    background: url("//img.getfc.com.cn/source/www/template/common/footer-icon.png") no-repeat;
}
.footer-btn a.footer-qq{
    float: right;
    color: #fff;
    background-color: #e99c26;
}
.footer-btn a.footer-qq:hover{
    color: #225578;
    background-color: #fff;
}
.footer-btn a.footer-ser i{
    background-position: -30px 0;
}
.footer-btn a.footer-qq i{
    background-position: 0 -30px;
}
.footer-btn a.footer-ser:hover i{
    background-position: 0 0;
}
.footer-btn a.footer-qq:hover i{
    background-position: -30px -30px;
}
/* 底部结束 */

/* banner */
.banner {
    height: 320px;
    background: url(../images/index/banner.jpg) no-repeat center 0;
}
/* banner结束 */

/*导航开始*/
.nav{
    position: relative;
    margin-top: -50px;
}
.nav .main-bg{
    background-color: #00375c;
    opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.nav ul{
    position: relative;
    z-index: 1;
    height: 50px;
    line-height: 50px;
    font-size: 0;
    text-align: center;
}
.nav li{
    position: relative;
    display: inline-block;
    padding: 0 30px;
    font-size: 16px;
}
.nav li a{
    color: #99afbd;
}
.nav li:hover a,
.nav li:hover:before,
.nav li.active a{
    color: #fff;
}
.nav li.active:before,
.nav li:hover:before{
    position: absolute;
    bottom: 2px;
    left: 50%;
    content: '▲';
    margin-left: -9px;
    font-size: 18px;
    color: #fff;
    line-height: 10px;
}
/*导航结束*/

/*右侧浮动层*/
.float-right{
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 9999;
    margin-top: -246px;
    width: 71px;
    text-align: center;
}
.float-right li{
    position: relative;
    margin-bottom: 3px;
    padding-top: 10px;
    width: 100%;
    height: 64px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #c2c2c2;
}
.float-right li:hover{
    color: #fff;
    background-color: #e79c28;
}
.float-right li:hover > div{
    display: block;
}

.float-right li > i{
    display: block;
    margin: 0 auto 8px;
    width: 28px;
    height: 28px;
    background: url("//img.getfc.com.cn/source/www/template/common/iconbox.png") no-repeat;
}
.float-right li i.float-icon1{
    background-position: 0 -72px;
}
.float-right li i.float-icon3{
    background-position: 0 -35px;
}
.float-right li i.float-icon5{
    width: 34px;
    height: 28px;
    background: url("../images/common/wechat.png") no-repeat;
}
.float-right li i.float-icon4{
    height: 28px;
    background: url("../images/common/iconbox2.png") no-repeat;
    background-position: 1px 0;
}

.float-right .weixin-code{
    padding-top: 3px;
    height: 95px;
}
.float-right .weixin-code img{
    width: 65px;
    height: 65px;
}

.float-box{
    display: none;
    position: absolute;
    top: 0;
    right: 60px;
    z-index: 1;
    padding-right: 30px;
}
.float-code .float-content{
    top: -40px;
    padding: 5px;
    font-size: 14px;
    color: #7c7c7c;
    padding-bottom:10px;
}
.float-code .float-content:after{
    margin-top: 5px;
}
.float-code .float-content:before{
    margin-top: 7px;
}

.float-code .float-content img{
    display: block;
    width: 70px;
    height: 70px;
}

.float-content{
    position: relative;
    padding: 0 5px;
    border-radius: 5px;
    border: 2px solid #e79c28;
    background-color: #fff;
}
.float-content:after{
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 1;
    content: '';
    margin-top: -10px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e79c28;
}
.float-content:before{
    position: absolute;
    top: 50%;
    right: -8px;
    z-index: 2;
    content: '';
    margin-top: -8px;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #fff;
}
.float-content a{
    display: block;
    width: 100px;
    font-size: 14px;
    color: #7c7c7c;
    line-height: 35px;
    box-sizing: border-box;
}
.float-content a:hover{
    color: #e79c28;
}
.float-content a.float-line{
    border-bottom: 1px solid #eee;
}
.float-content a i{
    display: inline-block;
    margin-right: 3px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url("../images/common/iconbox.png") no-repeat;
}

.float-content a i.float-ser{
    background-position: 0 -203px;
}
.float-content a i.float-qq{
    background-position: 0 -180px;
}
.float-content a:hover i.float-ser{
    background-position: -36px -203px;
}
.float-content a:hover i.float-qq{
    background-position: -35px -180px;
}

.float-content a i.float-moni{
    background-position: -2px -275px;
}
.float-content a i.float-zhenshi{
    background-position: 0 -303px;
}
.float-content a:hover i.float-moni{
    background-position: -38px -275px;
}
.float-content a:hover i.float-zhenshi{
    background-position: -39px -303px;
}

.float-content a i.float-ck{
    background: url("../images/common/iconbox2.png") no-repeat -23px 3px;
}
.float-content a i.float-qk{
    background: url("../images/common/iconbox2.png") no-repeat -44px 4px;
}
.float-content a:hover i.float-ck{
    background: url("../images/common/iconbox2.png") no-repeat -23px -17px;
}
.float-content a:hover i.float-qk{
    background: url("../images/common/iconbox2.png") no-repeat -44px -17px;
}

.float-right .jifen-code{
    padding:0;
    margin:0;
    height:80px;
}
.float-right .jifen-code:hover{
    background:#c2c2c2;
}
.float-right li a.jifen{
    border-radius: 5px;
    height:27px;
    padding-top:53px;
    display:block;
    background: url("../images/common/iconbox3.png") no-repeat center 10px;
    text-decoration:none;
    color:#333;
}
.float-right li a.jifen:hover{
    background: url("../images/common/iconbox3_h.png") no-repeat center 10px #e79c28;
    color:#fff;
}
/*右侧浮动层结束*/

/*save point*/
@media (max-width: 479px) {
    .popup-mobile{
        display: none !important;
    }
}






