body{font-family: "Microsoft YaHei", "Microsoft JhengHei", arial, sans-serif;}
#main {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #666;
}

.inner {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    position: relative
}

img {
    overflow: hidden;
    border: none;
    display: block;
}
.e-header .header{
    background: none;
}
.web-banner{
    width: 100%;
    background: url("//img.getfc.com.cn/source/www/zt/produce1907/banner-bg.jpg") no-repeat top center;
    height: 700px;
    top:-74px;
    position: relative;
    margin-bottom: -74px;
    z-index: 2;
}
.web-banner .leftCon{width: 50%;position: relative;padding-bottom: 169px}
.web-banner .pic1{
    position: absolute;
    bottom: -40px;
    right: 5%;
}
.web-banner .banner-font img{margin: 156px auto 0;}
.web-btn{
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.web-btn a{
    overflow: hidden;
    display: block;
    font-size: 24px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    width: 200px;
    height: 54px;
    line-height: 54px;
    margin: 0 15px;
}
.web-page.bg03 .web-btn a{
    width: 360px;
    height: 80px;
    line-height: 80px;
    margin: 0 40px;
}
.web-btn a.acc{
    font-weight: bold;
    background: #f5e279;
    color: #74582a;
}
.web-btn a.register{
    background: #505050;
}
.web-page{
    position: relative;
}
.web-page.bg02{
    background: url("//img.getfc.com.cn/source/www/zt/produce1907/neiye-bg2.jpg") no-repeat center;
    height: 434px;
    z-index: 1;
}
.web-page.bg03{
    background: url("//img.getfc.com.cn/source/www/zt/produce1907/neiye-bg3.jpg") no-repeat center;
    height: 806px;
}
.web-page .title {
    overflow: hidden;
    margin: 80px auto 0;
    text-align: center;
}
.web-page .title .item{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.web-page .title .item img:last-child{transform: rotateY(180deg)}
.web-page .title .item span{
    overflow: hidden;
    font-size: 36px;
    line-height: 38px;
    padding: 0 20px;
    z-index: 1;
    background: #505050;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: lighter;
}
.web-page.bg02 .title .item span{color: #fff}
.web-page .title .item span em{
    display: inline;
    font-weight: bold;
}
.web-page .title p{
    overflow: hidden;
    display: block;
    font-size: 18px;
    line-height: 30px;
    margin: 12px 0 25px;
}
.web-page .title p span{
    display: inline;
    font-weight: bold;
}
.web-page .title a{
    overflow: hidden;
    display: block;
    width: 200px;
    height: 54px;
    line-height: 54px;
    background: #4b9ca4;
    border-radius: 27px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}
.web-page .conList {
    overflow: hidden;
    margin: 65px auto 80px;
}
.web-page .conList ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.web-page .conList ul li {
    overflow: hidden;
    list-style: none;
    display: block;
    width: 236px;
    position: relative;
}
.web-page .conList.width ul li{width: 25%}
.web-page .conList ul li span{
    overflow: hidden;
    display: block;
    font-size: 36px;
    line-height: 38px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: rgba(80,80,80,.4);
    font-family: "Microsoft JhengHei";
    margin-top: 20px;
}
.web-page .conList ul li:nth-child(3) span{color: #fff}
.web-page.bg02 .conList ul li span {
    position: static;
    color: #fff;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}
.web-page .conList ul li img{margin: 0 auto;}
.web-page .conList ul li p{
    overflow: hidden;
    display: block;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}
.web-page .pic2{
    position: absolute;
    bottom: -100px;
    left: 10%;
}
.web-page .pic3{
    position: absolute;
    bottom: -20px;
    right: 15%;
}
.web-page .layout{overflow: hidden;margin: 60px 0 160px}
.web-page .layout .codeCon{
    overflow: hidden;
    width: 50%;
    float: left;
}
.web-page .layout .codeCon ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}
.web-page .layout .codeCon ul li{
    overflow: hidden;
    display: block;
    list-style: none;
    width: 50%;
    float: left;
}
.web-page .layout .codeCon ul li img{margin: 0 auto 15px}
.web-page .layout .codeCon ul li span{
    overflow: hidden;
    display: block;
    font-size: 24px;
    color: #272c4a;
    text-align: center;
    line-height: 26px;
}
.web-page .layout .rightCon{
    overflow: hidden;
    width: 50%;
    float: left;
}
.web-page .layout .rightCon ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0 0 0 2%;
    display: block;
}
.web-page .layout .rightCon ul li{
    overflow: hidden;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 28px;
}
.web-page .layout .rightCon ul li img{margin-right: 20px}
.web-page .layout .rightCon ul li .item{overflow: hidden;}
.web-page .layout .rightCon ul li .item span,.web-page .layout .rightCon ul li .item p{
    overflow: hidden;
    display: block;
    font-size: 18px;
    line-height: 30px;
}
.web-page .layout .rightCon ul li .item span{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
/*弹窗*/
.popup-box {
    max-width: 1000px;
    height: 650px;
    position: fixed;
    left: 0;
    right: 0;
    margin: -325px auto 0 auto;
    top: 50%;
    background: #fff;
    z-index: 99999;
    font-family: "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.popup-box .box-in {
    margin: 3% 3% 5% 5%;
    color: #333333;
    overflow: auto;
    height: 500px;
    padding: 0% 2% 0 0;
}
.popup-box table.data-box {
    width: 100%;
    margin: 16px auto;
    text-align: center;
    font-size: 1.6em;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ead5c2;
}
.popup-box .box-in .section1 .detailContent{
    width:670px;
    font-size:18px;
    text-align: center;
    margin-left:50px;
}
.popup-box .box-in .section1{
    margin-top:0px;
}
.popup-box .box-in .section1 .item{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 5px;
}
.popup-box .box-in .section1 p{
    font-size:20px;
}
.popup-box .box-in .section1 ul li:nth-child(2){
    margin:8px 63px;
}
.popup-box .box-in div.title,.popup-box  .box-in div.bottom{
    height:50px;
    width:100%;
    line-height: 50px;
    background:#e4f2f8;
}
.popup-box .box-in div.bottom{
    background:#f1f8fa;
}

.popup-box .box-in .section1 .detailContent ul li span{
    display: inline-block;
    font-size:20px;
    color:#e84c00;
    position:relative;
    left:-2px;
    top:-1px;
}
.popup-box .box-in div.bottom{
    text-align: left;
    padding-left:20px;
}
.popup-box .box-in .section1 .detailContent  img{
    display:inline-block;
    width:20px;
    height:20px;
    position:relative;
    top:-90px;
    left:-110px;
}
.popup-box .box-in .section1 .detailContent  img.pic{
    position:relative;
    top:-90px;
    left:108px;
}

.section3 ol li{
    font-size:16px;
    margin-top: 10px;
}
.section4 ol li{
    font-size:16px;
    line-height:2.2;
    text-align: justify;
    display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;     /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */
}
.popup-box table.data-box thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box thead th {
    font-size: 16px;
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
    background: #dcb08e;
    line-height: 1.0;
    border: 1px dotted #ccc;
}
.popup-box table.data-box thead tr {
    border: 1px dotted #ccc;
}
.popup-box table.data-box tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.popup-box table.data-box tbody td {
    line-height: 1.6;
    text-align: center;
    color: #333333;
    padding: 1.44%;
    font-size: 16px;
    border: 1px dotted #ccc;
    font-family: Notol, "Microsoft JhengHei", "Microsoft YaHei", arial, sans-serif;
}
.popup-box table.data-box tbody .unit {
    font-size: 0.8em;
}
.popup-box table.data-box tbody tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background: #FFFFFF;
}
.popup-box table.data-box tbody tr.white {
}
.popup-box table.data-box tbody tr.last-row td {
    border-bottom: 1px solid #CCCCCC;
}
.popup-box .table1 td,
.popup-box .table2 td {
}
.popup-box .table4 td {
    width: 16%;
}
.popup-box .table3 td {
    width: 33.333333%;
}
.popup-box .close-top {
    height: 60px;
    color:  #b78255;
    border-bottom: 1px solid #b78255;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
}
.popup-box .close-top a {
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    background: url(//img.getfc.com.cn/source/www/zt/campaign1710/close.png) no-repeat;
    top: 25px;
    right: 25px;
    text-decoration: none;
}
.popup-box h2 {
    font-size:20px;
    color: #b78255;
    font-weight: bold;
    position: relative;
}
.popup-box h2.ver-line {
}
.popup-box h2.ver-line i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b78255;
    color:#fff;
    position: absolute;
    left: 0;
    top: 1px;
    text-align: center;
    line-height: 30px;
}
.popup-box .note{line-height: 30px;}
.popup-box .note span{color: #f00}
.popup-box p {
    line-height: 1.9;
    color: #333333;
    text-align: justify;
}
.popup-box p span{
    overflow: hidden;
    display: inline;
    color: #d8505a;
}
.popup-box p a{
    overflow: hidden;
    display: inline;
    color: #225b76;
    text-decoration: underline;
}