.btn-detail {
    padding: 50px 0 60px;
    // text-align: center;
    

    &>div.btn-box { //!!!結構跟樣是分開
        display: inline-block; //尝试不用margin- auto用inline-block置中!!!!!!
        margin: 0 auto;//寫錯位置
        // 可是這篇!!![CSS] 解決div區塊設定為display:inline-block時margin:0 auto無法置中的問題
        // 因為行內不能margin??
        // https://sistergub.blogspot.com/2014/12/css-divdisplayinline-blockmargin0-auto.html
        a.btn {
            // width: 320px;
            // display: inline;
            // display: inline-block;
            // min-width: 320px;
            // max-width: 320px;
            // margin: 0 auto;
            padding: 0 30px;
            
            line-height: 75px;
            color: white;
            font-size: 28px;
            letter-spacing: 1.5px;
            // font-weight: normal;
            border-radius: 10px;
            background-image: linear-gradient(180deg, #155065 0%, #09355a 100%);
            box-shadow: 0px 11px 8px 2px rgba(0,0,0,.12);
        }

    }
}